body {
    display: flex;
    flex-flow: column;
    /*scroll-behavior: smooth;*/
    min-height: 100vh;
    background-color: #151515;
    overflow-x: hidden;
    background-image: url(../../assets/stars-bg.jpg?v=1);
    /*background-position: top;*/
    /*background-size: contain;*/
    /*background-attachment: fixed;*/
}

.header {
    position: fixed;
    border-bottom: 1px solid rgba(255,255,255,.5);
    box-sizing: border-box;
    padding: 20px 0;
    width: 100%;
    height: 95px;
    background-color: rgba(255,255,255,.2);
    z-index: 100;
    transition: background-color .5s, padding .5s, border .5s, height .5s;
}
.header-placeholder {
    margin-top: 95px;
}
.header.onthemove {
    border-bottom: 1px solid #363636;
    padding: 10px 0;
    height: 75px;
    background-color: rgba(0,0,0,.2);
}

@media (max-width: 1440px) {
    .header {
        padding: 15px;
    }
    .header-placeholder {
        margin-top: 70px;
    }
}
@media (max-width: 1200px) {
    .header {
        padding: 10px;
    }
    .header-placeholder {
        margin-top: 60px;
    }
}

.header-static {
    /*position: unset;*/
    background-color: #161616;
    box-shadow: 0 10px 10px 0 #00000080;
}

.logo {
    display: block;
    max-width: 125px;
}

.footer {
    border-top: 1px solid rgba(255,255,255,.5);
    border-bottom: 1px solid rgba(255,255,255,.5);
    box-sizing: border-box;
    padding: 25px 0;
    background-color: #000;
}
@media (max-height: 850px) {
    .footer {
        padding: 15px 0;
    }
}

.menu {
    display: flex;
    flex-wrap: wrap;
    box-sizing: border-box;
    margin-top: -20px;
    margin-left: -20px;
}

.menu > * {
    padding-top: 20px;
    padding-left: 20px;
}
.menu a {
    font-size: 16px;
    font-weight: 500;
    color: #fff;
    transition: text-shadow .5s, color .5s, font-weight .5s, font-size .5s;
}
.menu a:hover {
    text-shadow: 0 0 5px 0 #00000080;
    color: #0797FD;
}

.header.onthemove .menu a {
    font-size: 14px;
    font-weight: 400;
}
.header.onthemove .menu a.active {
    font-size: 16px;
    font-weight: 700;
    color: #0797FD;
}

.main {
    position: relative;
    flex: 1;
}

.section {
    position: relative;
    /*min-height: 100vh;*/
}
@media (max-width: 960px) {

}

.section-custom__wrap {
    display: flex;
    flex-wrap: wrap;
    flex-flow: column;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    width: 100%;
    height: 100%;
}
.section-custom__wrap.max-height {
    height: max-content;
}
.section-content {
    display: flex;
    box-sizing: border-box;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    /*padding-bottom: 50px;*/
    width: 100%;
    height: -webkit-fill-available;
}
.section-content.column {
    flex-flow: column;
}
.section-content.column .section-content__wrapper {
    width: 100%;
}


.section-content__wrapper {
    overflow: hidden;
    flex: 1;
    height: auto;
}
.section-content__wrapper.max-height {
    overflow: hidden;
    flex: 1;
    height: max-content;
    height: auto;
}
.section-title {
    box-sizing: border-box;
    padding-top: 75px;
    padding-bottom: 50px;
    font-size: 50px;
    font-weight: bold;
    color: #fff;
    font-family: 'Noto Sans';
    text-align: center;
}
.section-title > div {
    display: flex;
    align-items: center;
    flex-flow: column;
}
.section-title > div > div {
    font-size: 24px;
    font-weight: 400;
    color: #fff;
    line-height: 28px
}
@media (max-height: 850px){
    .section-title {
        padding-top: 95px;
        padding-bottom: 20px;
        font-size: 34px;
    }

    .section-title > div > div {
        font-size: 22px;
        font-weight: 400;
        color: #fff;
        line-height: 28px;
    }
}
@media (max-width: 1600px) and (max-height: 850px){
    .section-title {
        padding-top: 75px;
        padding-bottom: 20px;
        font-size: 34px;
    }
    .section-title > div > div {
        font-size: 22px;
        font-weight: 400;
        color: #fff;
        line-height: 28px
    }
}
@media (max-width: 1400px) and (max-height: 768px) {
    .section-title {
        padding-top: 75px;
        padding-bottom: 50px;
        font-size: 28px;
    }
    .section-title > div > div {
        font-size: 18px;
        font-weight: 400;
        color: #fff;
        line-height: 28px
    }
}
@media (max-width: 1200px) {
    .section-title {
        padding-bottom: 10px;
        font-size: 18px;
    }
    .section-title > div > div {
        font-size: 14px;
        font-weight: 400;
        color: #fff;
        line-height: 28px;
    }
}



.page-section__wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column;
    overflow: hidden;
    width: 100%;
    height: 100%;
}
/*uk-flex uk-flex-middle uk-flex-center uk-flex-column uk-width-1-1 uk-height-1-1*/

.floating-planet-1 {
    position: absolute;
    top: 20%;
    right: 20%;
}
.floating-planet-2 {
    position: absolute;
    top: 30%;
    left: 10%;
}
.floating-planet-3 {
    position: absolute;
    bottom: 10%;
    left: 20%;
}
.floating-planet-4 {
    position: absolute;
    bottom: 20%;
    right: 25%;
}
@media (max-width: 780px) {
    [class^="floating"] {
        max-width: 100px;
    }
}


.shine-1 {
    position: absolute;
    top: 50%;
    left: 7%;
    transform: translate(-50%, -50%);
    z-index: 0;
}
.shine-2 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, 70%);
    z-index: 0;
}

.card {
    display: block;
    overflow: hidden;
}

.card .img-wrapper {
    position: relative;
    border-radius: 20px;
    padding-bottom: 68.82%;
    overflow: hidden;
    width: 100%;
}
.card .img-wrapper img {
    position: absolute;
    top: 50%;
    right: 50%;
    transform: translate(50%, -50%);
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: transform .4s ease;
}
.card .img-wrapper .overlay {
    position: absolute;
    top: 0;
    right: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    font-size: 16px;
    opacity: 0;
    color: #fff;
    background-color: rgba(0,0,0,0.5);
    transition: opacity .4s;
}
.card .title {
    margin-top: 10px;
    font-size: 24px;
    font-weight: 700;
    color: #fff;
}
.card .description {
    font-size: 14px;
    font-weight: 400;
    color: rgba(255,255,255,0.5);
}

.card:hover .img-wrapper .overlay {
    opacity: 1;
}
.card:hover .img-wrapper img {
    transform: translate(50%, -50%) scale(1.1);
}

.card-article {
    display: block;
    overflow: hidden;
    /*background-color: #fff;*/
}
.card-article .info-wrapper {
    padding: 25px 0;
}

.card-article .img-wrapper {
    position: relative;
    padding-bottom: 55.51%;
    overflow: hidden;
    width: 100%;
}
.card-article .img-wrapper img {
    position: absolute;
    top: 50%;
    right: 50%;
    transform: translate(50%, -50%);
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: transform .4s ease;
}
.card-article .img-wrapper .overlay {
    position: absolute;
    top: 0;
    right: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    font-size: 16px;
    opacity: 0;
    color: #fff;
    background-color: rgba(0,0,0,0.5);
    transition: opacity .4s;
}
.card-article .title {
    margin-bottom: 10px;
    font-size: 20px;
    font-weight: 700;
    line-height: 23px;
    color: rgba(255,255,255,.5);
    transition: color .5s;
    user-select: none;
}
.card-article .summary {
    font-size: 16px;
    font-weight: 400;
    line-height: 19px;
    color: #929292;
    transition: color .3s ease;
    transition-delay: .3s;
    user-select: none;
}
.card-article:hover .title {
    color: #fff;
}
.card-article:hover .summary {
    color: rgba(255,255,255,.8);
}

.card-article:hover .img-wrapper .overlay {
    opacity: 1;
}
.card-article:hover .img-wrapper img {
    transform: translate(50%, -50%) scale(1.1);
}



.about-text {
    margin-top: 40px;
    color: #fff;
    font-size: 18px;
    font-weight: 400;
    line-height: 21px;
    text-align: center;
}
.about-text > :nth-child(2) {
    padding: 0 15px;
}
.about-text > :nth-child(3) {
    padding: 0 25px;
}

.text-card {

}
.text-card .icon {
    display: flex;
    justify-content: center;
    padding-bottom: 20px;
    min-height: 80px;
}
.text-card .title {
    margin: 0 auto 20px;
    font-size: 20px;
    font-weight: 500;
    line-height: 27px;
    color: #363636;
    max-width: 325px;
    text-align: center;
}
.text-card .text {
    display: -webkit-box!important;
    -webkit-line-clamp: 8;
    -webkit-box-orient: vertical;
    overflow: hidden;
    font-size: 16px;
    text-align: center;
    line-height: 140%;
    font-weight: 400;
    color: rgba(0,0,0,.7);
}
.text-card svg {
    transition: filter .4s;
}
.text-card:hover svg {
    filter: drop-shadow(0 0 5px rgba(7, 151, 253, 1));
}

@media (max-width: 1200px) {
    .text-card .title {
        font-size: calc(100vw / 40);
        margin: 0 auto 20px;
    }
    .text-card .text {
        font-size: calc(100vw / 50);
    }
}
@media (max-width: 960px) {
    .text-card .title {
        font-size: calc(100vw / 30);
        margin: 0 auto 10px;
    }
    .text-card .text {
        font-size: calc(100vw / 35);
    }
}

.vision .text-card {
    transition: transform 1.3s;
}
.vision > :nth-child(3) .text-card {
    transition-delay: .2s;
}
.vision > :nth-child(2) .text-card {
    transition-delay: .5s;
}
.vision > :nth-child(1) .text-card {
    transition-delay: .8s;
}

.vision.vision-hidden > :nth-child(3) .text-card {
    transition-delay: .2s;
}
.vision.vision-hidden > :nth-child(2) .text-card {
    transition-delay: .5s;
}
.vision.vision-hidden > :nth-child(1) .text-card {
    transition-delay: .8s;
}
.vision.vision-hidden .text-card {
    transition: transform .3s;
    transform: translateY(200%);
}
.vision.vision-shown .text-card {
    transform: translateY(0);
}
@media (max-width: 1024px){
    .vision.vision-hidden .text-card {
        transform: translateY(0);
    }
}

.rocket-loader {
    position: absolute;
    top: 50%;
    right: 50%;
    transform: translate(50%, -50%);
    transition: opacity .5s;
}
.preloader {
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: 100;
    background-color: #363636;
    transition: opacity 1s;
}
.preload-logo__wrapper {
    position: absolute;
    display: flex;
    top: 50%;
    right: 50%;
    transform: translate(50%,-50%);
    width: max-content;
    transition: opacity 1s;
}
.preload-logo__wrapper {

}

#motionPath {
    overflow: visible;
    height: 100%;
    max-width: 100%;
}
#motionPath path {
    stroke-width: 2;
    stroke: transparent;
}
#motionPath .astronaut {
    visibility: hidden;
}

.employee {
    position: relative;
    display: block;
    border: 5px solid #d3d3d3;
    border-radius: 4px;
    box-sizing: border-box;
    overflow: hidden;
    padding-bottom: 106.20%;
    height: 0;
    z-index: 4;
    user-select: none;
}
.employee__info {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    transition: background .4s;
    user-select: none;
}
.employee img {
    position: absolute;
    top: 50%;
    right: 50%;
    transform: translate(50%, -50%);
    width: 100%;
    height: 100%;
    object-fit: cover;
    user-select: none;
}
.superior .employee__info .name {
    width: max-content;
    text-transform: uppercase;
    font-size: 20px;
    font-weight: 400;
    color: #fff;
}
.superior .employee__info .post {
    font-size: 12px;
    font-weight: 300;
    color: #fff;
}
.employee__info .name {
    width: max-content;
    text-transform: uppercase;
    font-family: 'Noto Sans';
    font-size: 15px;
    font-weight: 400;
    color: #fff;
}
.employee__info .post {
    font-family: 'Noto Sans';
    font-size: 8px;
    font-weight: 400;
    color: #fff;
}
.employee__info .name,
.employee__info .post {
    position: relative;
    z-index: 2;
}
.employee__info .wrapper {
    position: relative;
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: center;
    padding-top: 30px;
    padding-bottom: 20px;
}
.employee__info::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, #141414 100%);
    opacity: 1;
    transition: opacity .4s;
}
.employee__info::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, #000 100%);
    opacity: 0;
    transition: opacity .4s;
}
.employee:hover .employee__info::after {
    opacity: 1;
}


.card-transparent {
    position: relative;
    display: block;
    border: 5px solid #d3d3d3;
    border-radius: 4px;
    overflow: hidden;
    box-sizing: border-box;
    padding-bottom: 70.55%;
    height: 0;
    z-index: 4;
    user-select: none;
}
.card-transparent__info {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    transition: background .4s;
    user-select: none;
}
.card-transparent img {
    position: absolute;
    top: 50%;
    right: 50%;
    transform: translate(50%, -50%);
    width: 100%;
    height: 100%;
    object-fit: cover;
    user-select: none;
}
.card-transparent__info .name {
    width: max-content;
    text-transform: uppercase;
    font-family: 'Noto Sans';
    line-height: 27px;
    font-size: 20px;
    font-weight: 400;
    color: #fff;
}
.card-transparent__info .post {
    font-family: 'Noto Sans';
    font-size: 12px;
    font-weight: 300;
    color: #fff;
}
.card-transparent__info .name,
.card-transparent__info .post {
    position: relative;
    z-index: 2;
}
.card-transparent__info .wrapper {
    position: relative;
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: center;
    padding-top: 30px;
    padding-bottom: 20px;
}
.card-transparent__info::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, #141414 100%);
    opacity: 1;
    transition: opacity .4s;
}
.card-transparent__info::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, #000 100%);
    opacity: 0;
    transition: opacity .4s;
}
.card-transparent:hover .card-transparent__info::after {
    opacity: 1;
}
@media (max-width: 960px) {
    .card-transparent__info .name {
        font-size: 16px;
        line-height: 18px;
    }
}

.card-transparent.card__long {
    padding-bottom: 26.20%;
}

/*
.employee .front {
    position: relative;
    display: block;
    overflow: hidden;
    padding-bottom: 106.20%;
    height: 0;
    z-index: 4;
    transform: perspective(1000px) rotateY(0deg);
    transition: transform 1s;
}
.employee .backside {
    position: absolute;
    top: 0;   left: 0;
    width: 100%;  height: 100%;
    background: #f00;
    backface-visibility: hidden;
    transform: perspective(1000px) rotateY(-180deg);
    transition: transform 1s;
    z-index: 5;
}
.employee:hover .front{
    transform: perspective(1000px) rotateY(180deg);
}
.employee:hover .backside{
    transform: perspective(1000px) rotateY(0deg);
}*/

.team {
    position: relative;
    display: flex;
    flex-flow: column;
    width: 100%;
}
.team-card {
    position: relative;
    border: 2px solid #d3d3d3;
    border-radius: 3px;
    box-sizing: border-box;
    overflow: hidden;
    padding-bottom: 64.02%;
    width: 100%;
    height: 0;
}
.team-card img {
    position: absolute;
    top: 50%;
    right: 50%;
    transform: translate(50%,-50%);
    width: 100%;
    height: 100%;
    object-fit: cover;
    pointer-events: none;
    user-select: none;
}

.team-info {
    box-sizing: border-box;
    margin: 0 auto;
    padding: 10px;
    background-color: #363636;
    width: 85%;
    height: auto;
    transform: translateY(-50%);
    transition: transform .5s, width .5s;
}
.team-info .name {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
    font-size: 18px;
    font-family: 'Roboto';
    text-transform: uppercase;
    user-select: none;
    color: #fff;
    z-index: 3;
}
.team:hover .team-info {
    transform: translateY(-70%);
    /*width: 95%;*/
}


/*.contact {padding: 80px 0;}*/
.contact-form__wrapper {
    display: flex;
    flex-wrap: wrap;
    margin-top: -30px;
    margin-left: -50px;
}
.contact-form__wrapper > * {
    box-sizing: border-box;
    padding-top: 30px;
    padding-left: 50px;
}

.ft-items {
    display: flex;
    flex-wrap: wrap;
    margin-top: -30px;
    margin-left: -30px;
}
.ft-items > * {
    padding-top: 30px;
    padding-left: 30px;
}
.ft-items .item {
    display: flex;
    align-items: flex-start;
    overflow: hidden;
}
.ft-items .item .icon {
    position: relative;
    display: block;
    border-radius: 50%;
    overflow: hidden;
    box-sizing: border-box;
    margin-right: 20px;
    width: 40px;
    height: 40px;
    min-width: 40px;
    min-height: 40px;
    background-color: rgba(255,255,255,.5);
}
.ft-items .item .icon svg {
    position: absolute;
    top: 50%;
    right: 50%;
    transform: translate(50%, -50%);
}
.ft-items .item .text {
    margin-top: 3px;
}
.ft-items .item .heading {
    margin-bottom: 10px;
    font-size: 18px;
    font-weight: 700;
    color: rgba(255,255,255,.5);
}
.ft-items .item :not(.heading) {
    font-size: 15px;
    font-weight: 500;
    color: rgba(255,255,255,.5);
}
@media (max-width: 1440px) {
    .ft-items .item .icon {
        width: 30px;
        height: 30px;
        min-width: 30px;
        min-height: 30px;
    }
    .ft-items .item .heading {
        font-size: 18px;
    }
    .ft-items .item :not(.heading) {
        font-size: 14px;
    }
}
@media (max-width: 960px){
    .ft-items {
        margin-top: -20px;
        margin-left: -20px;
    }
    .ft-items > * {
        padding-top: 20px;
        padding-left: 20px;
    }
}

.swiper, .swiper-wrapper {height: auto !important;}



.article-swiper .swiper-pagination {
    position: unset;
    margin-top: 20px;
}
.article-swiper .swiper-pagination-bullet {
    border: 1px solid rgba(255,255,255,.5);
    transition: background-color .5s, border .5s;
}
.article-swiper .swiper-pagination-bullet.swiper-pagination-bullet-active {
    background-color: rgba(255,255,255,.5);
}

.landscape-banner {
    position: relative;
    display: block;
    padding-bottom: 33.21%;
    height: 0;
}
.landscape-banner img {
    position: absolute;
    top: 50%;
    right: 50%;
    transform: translate(50%, -50%);
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.bottom-socials {
    margin: 0 auto;
    width: max-content;
}
.bottom-socials .wrapper {
    display: flex;
    flex-wrap: wrap;
    margin-top: -20px;
    margin-left: -20px;
    padding: 30px 0;
}
.bottom-socials .wrapper > * {
    box-sizing: border-box;
    padding-top: 20px;
    padding-left: 20px;
}
.bottom-socials .item {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    min-width: 40px;
    min-height: 40px;
    background-color: rgba(255,255,255,.25);
    transition: background-color .5s;
}
.bottom-socials .item svg {
    position: absolute;
    top: 50%;
    right: 50%;
    transform: translate(50%,-50%);
}
.bottom-socials .item svg path {
    transition: fill .5s, opacity .5s;
}

.bottom-socials .item:hover {
    background-color: rgba(255,255,255,.5);
}
.bottom-socials .item:hover svg path {
    opacity: 1;
}
.bottom-socials .item.facebook:hover {
    background-color: #4267B2
}
.bottom-socials .item.linkedin:hover {
    background-color: #0e76a8;
}
.bottom-socials .item.instagram:hover {
    background-color: #bc2a8d
}
@media (max-height: 850px){
    .bottom-socials .wrapper {
        padding: 20px 0;
    }
}


.top-banner {
    position: relative;
    overflow: hidden;
    height: 100vh;
}

.cosmos {
    position: relative;
    width: 100%;
    height: 100%;
}

.section .earth {
    bottom: -80vw;
    left: 0;
}
/*.section:not(.active) .earth {
    bottom: 20vw;
    left: 20vw;
}*/
.top-banner .earth {
    position: absolute;
    width: 100vw;
    height: 100vw;
    object-fit: contain;
    animation: rotatingEarth infinite 140s linear;
    z-index: 1;
    user-select: none;
    transition: bottom 2s, left 2s;
}
@media (max-width: 960px) {
    .top-banner .background {
        bottom: -75%;
    }
}
@keyframes rotatingEarth {
    0% {
        transform: rotate(0);
    }
    100% {
        transform: rotate(360deg);
    }
}

.top-banner .moon {
    position: absolute;
    bottom: 0;
    right: 50%;
    transform: translate(50%, -50%);
    width: 10vw;
    height: 10vw;
    object-fit: contain;
    animation: myOrbit infinite 500s linear;
    user-select: none;
}
@-webkit-keyframes myOrbit {
    0%  {-webkit-transform: rotate(0deg) translateX(-40vw);}
    100%{-webkit-transform: rotate(360deg) translateX(50vw);}
}
@-moz-keyframes myOrbit {
    0%  {-moz-transform: rotate(0deg) translateX(-40vw);}
    100%{-moz-transform: rotate(360deg) translateX(50vw);}
}
@-o-keyframes myOrbit {
    0%  {-o-transform: rotate(0deg) translateX(-40vw);}
    100%{-o-transform: rotate(360deg) translateX(50vw);}
}
@keyframes myOrbit {
    0%  {transform: rotate(0deg) translateX(-40vw);}
    100%{transform: rotate(360deg) translateX(50vw);}
}

.top-banner .mask {
    position: absolute;
    width: 100%;
    height: 100%;
    background: linear-gradient(10deg,rgba(0,0,0,.3),transparent);
    z-index: 3;
}

.banner-info {
    position: absolute;
    bottom: 20%;
    left: 0;
    overflow: hidden;
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    z-index: 3;
}

.banner-info .text-wrapper {
    display: flex;
    overflow: hidden;
}
.banner-info .text {
    display: inline-block;
    overflow: hidden;
    margin: 0 auto;
    padding-top: 50px;
    width: 70%;
    font-family: 'Noto Sans';
    text-align: center;
    text-transform: uppercase;
    line-height: 76px;
    font-size: 56px;
    font-weight: 900;
    color: #fff;
    transform: translateY(100%);
    opacity: 0;
    transition: transform 1s, opacity 2s;
    /*max-width: 569px;*/
}
.banner-info .button {
    margin-top: 50px;
}
@media (max-width: 1400px){
    .banner-info .text {
        font-size: 44px;
        line-height: 64px;
    }
}
@media (max-width: 960px){
    .banner-info .text {
        font-size: 32px;
        line-height: 52px;
    }
    .banner-info .button {
        margin-top: 20px;
    }
}
@media (max-width: 640px){
    .banner-info .text {
        font-size: 18px;
        line-height: 28px;
    }
}


.hiring-info {
    position: relative;
    flex: 1;
    height: 100%;
    background-color: #0E0E0E;
}


.hiring-info::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    /*background: linear-gradient(188.16deg, rgba(20, 20, 20, 0.35) 20.2%, #0E0E0E 78.55%);*/
    z-index: 3;
}


.hiring-info .img-wrapper {
    display: flex;
    position: relative;
    overflow: hidden;
    padding-bottom: 38.22%;
    z-index: 2;
}
.hiring-info .img-wrapper .background {
    position: absolute;
    top: 50%;
    right: 50%;
    transform: translate(50%,-50%);
    width: 100%;
    height: 100%;
    object-fit: cover;
}


.hiring-info__bottom {
    position: relative;
    flex: 1;
    /*height: 100%;*/
}
.hiring-info__bottom .img-wrapper {
    display: flex;
    position: relative;
    overflow: hidden;
    z-index: 2;
    padding-bottom: 30.84%;
}

.hiring-info__bottom .img-wrapper .background {
    position: absolute;
    top: 50%;
    right: 50%;
    transform: translate(50%,-50%);
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.hiring-info__bottom::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    /*background: linear-gradient(188.16deg, rgba(20, 20, 20, 0.35) 20.2%, #0E0E0E 78.55%);*/
    z-index: 3;
}

.hiring-info__text {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: -40px;
    margin-left: -40px;
    transform: translateY(-80px);
    z-index: 4;
}
.hiring-info__text > * {
    padding-top: 40px;
    padding-left: 40px;
}
.hiring-info__text .title{
    font-size: 26px;
    font-weight: 700;
    color: #fff;
}
.hiring-info__text ul li {
    font-size: 18px;
    font-weight: 400;
    color: rgba(255,255,255,.5);
}
.hiring-info__text p {
    margin: 10px 0;
}

.job-information {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    padding-right: 30px;
}
.job-information .title {
    margin-bottom: 20px;
    font-size: 26px;
    font-weight: 500;
    color: #0075FF;
}
.applicable-jobs {

}
.job-requirements {

}

.acoustic {
    display: flex;
    flex-wrap: wrap;
    overflow: hidden;
    margin-top: -20px;
    margin-left: -20px;
}
.acoustic > * {
    box-sizing: border-box;
    padding-top: 20px;
    padding-left: 20px;
    overflow: hidden;
    width: 100%;
}
.acoustic .item {
    position: relative;
    width: 100%;
    overflow: hidden;
}
.acoustic .item .context {
    color: rgba(0,117,255,.5);
    font-size: 18px;
    font-weight: 500;
    word-break: break-word;
    max-height: 0;
    transition: .5s max-height .5s ease-in-out;
}
.acoustic .item.open .context {
    max-height: 700px;
}
.acoustic .item .context > * {
    padding: 20px 0;
}
.acoustic .item .context ul li:not(:last-child) {
    padding-bottom: 10px;
}

.acoustic-button {
    display: flex;
    align-items: center;
}
.acoustic-button .button {
    margin-right: 20px;
}
.acoustic .item .acoustic-button::after {
    content: url("data:image/svg+xml,%3Csvg width='27' height='27' viewBox='0 0 27 27' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Ccircle cx='13.5' cy='13.5' r='13' stroke='%230075FF'/%3E%3Cpath d='M9.41 10L14 14.58L18.59 10L20 11.41L14 17.41L8 11.41L9.41 10Z' fill='%230075FF'/%3E%3C/svg%3E%0A");
    /*position: absolute;
    top: 50%;
    right: -30px;
    transform: translate(50%, -50%);*/
    height: 27px;
}
.acoustic .item.open .acoustic-button::after {
    content: url("data:image/svg+xml,%3Csvg width='27' height='27' viewBox='0 0 27 27' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Ccircle cx='13.5' cy='13.5' r='12' transform='rotate(-180 13.5 13.5)' fill='%230075FF' stroke='%230075FF' stroke-width='3'/%3E%3Cpath d='M17.59 17L13 12.42L8.41 17L7 15.59L13 9.59L19 15.59L17.59 17Z' fill='white' stroke='white'/%3E%3C/svg%3E%0A");
    /*position: absolute;
    top: 50%;
    right: -30px;
    transform: translate(50%, -50%);*/
    height: 27px;
}

.job-requirements .button {
    width: 240px;
    justify-content: center;
}
.job-information::after {
    content: "";
    display: block;
    border-right: 2px solid rgba(255,255,255,.5);
    position: absolute;
    box-sizing: border-box;
    right: 0;
    height: 80%;
}


.form label span {
    display: block;
    margin-bottom: 5px;
    font-size: 24px;
    font-weight: 400;
    color: rgba(255,255,255,.5);
    transition: color .8s;
}
.form label:focus-within span {
    color: #fff;
}

.staticPage-heading {
    margin: 30px 0;
    font-size: 50px;
    font-weight: 600;
    font-family: 'Noto Sans';
    color: rgba(255,255,255,1);
}
.page-content {
    font-size: 16px;
    font-weight: 400;
    color: rgba(255,255,255,1);
}
@media (max-width: 1600px) {
    .staticPage-heading {
        font-size: 32px;
    }
    .page-content {
        font-size: 16px;
    }
}

.members {
    display: block;
}
.member {
    display: flex;
    margin-bottom: 15px;
    flex-wrap: wrap;
    flex-flow: column;
    width: 65%;
}
.member .img-wrapper {
    position: relative;
    display: block;
    border-radius: 50%;
    overflow: hidden;
    padding-bottom: 100%;
    height: 0;
}
.member .img-wrapper::before {
    content: "More";
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    display: flex;
    width: 100%;
    height: 100%;
    color: #fff;
    background-color: rgba(0,0,0,.5);
    opacity: 0;
    transition: opacity 1s;
    z-index: 2;
}
.member .img-wrapper img {
    position: absolute;
    top: 50%;
    right: 50%;
    transform: translate(50%,-50%);
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: transform .5s;
}
.member .name {
    margin-top: 10px;
    margin-bottom: 5px;
    text-align: center;
    font-size: 15px;
    font-weight: 400;
    font-family: "Noto Sans";
    color: rgba(255,255,255,1);
}
.member .position {
    text-align: center;
    font-size: 10px;
    font-weight: 300;
    font-family: "Noto Sans";
    color: rgba(255,255,255,1);
}
.member:hover .img-wrapper img{
    transform: translate(50%,-50%) scale(1.1);
}
.member:hover .img-wrapper::before{
    opacity: 1;
}


.member-biography {
    padding: 20px 0;
    display: flex;
    flex-wrap: wrap;
    margin-top: -30px;
    margin-left: -50px;
}
.member-biography > * {
    box-sizing: border-box;
    padding-top: 30px;
    padding-left: 50px;
}
.member-biography > .photo-box {
    width: calc(100% / 3.001);
}
@media (max-width: 1444px) {
    .member-biography {
        margin-left: -30px;
    }
    .member-biography > * {
        padding-left: 30px;
    }
}
@media (max-width: 1368px) {
    .member-biography {
        margin-left: -20px;
    }
    .member-biography > * {
        padding-left: 20px;
    }
}
@media (max-width: 960px) {
    .member-biography > .photo-box {
        /*margin: 0 auto;*/
        width: calc(100% / 2);
    }
}
@media (max-width: 960px) {
    .member-biography {
        margin-top: -20px;
        margin-left: -20px;
    }
    .member-biography > * {
        padding-top: 20px;
        padding-left: 20px;
    }
}


.member-biography .fullname {
    line-height: 90%;
    font-weight: 700;
    font-size: 50px;
    color: #524141;
}
.member-biography .position {
    font-size: 20px;
    font-weight: 500;
    color: #524141;
}
.member-biography .short-brief {
    font-size: 20px;
    font-weight: 400;
    color: #524141;
}
@media (max-width: 1600px){
    .member-biography .fullname {
        font-size: 38px;
    }
    .member-biography .position {
        font-size: 16px;
    }
    .member-biography .short-brief {
        font-size: 16px;
    }
}

.member-biography .img-wrapper {
    display: flex;
    flex-wrap: wrap;
    overflow: hidden;
    position: relative;
    padding-bottom: 106.09%;
}
.member-biography .img-wrapper img {
    position: absolute;
    top: 50%;
    right: 50%;
    transform: translate(50%,-50%);
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.member-biography .history {}
.member-biography .history .heading {
    font-size: 30px;
    font-weight: 700;
    font-family: "Noto Sans";
    color: #524141;
}
.member-biography .history .context {
    font-size: 20px;
    font-weight: 400;
    color: #524141;
}
@media (max-width: 960px){
    .member-biography .history .heading {
        font-size: 20px;
    }
    .member-biography .history .context {
        font-size: 16px;
    }
}


.member-stats {

}
.member-stats .item {
    display: flex;
}
.member-stats .item .label,
.member-stats .item .value {
    font-family: "Noto Sans";
    font-size: 20px;
    color: #524141;
}
.member-stats .item .label {
    font-weight: 700;
}
.member-stats .item .label::after {
    content: ":";
    margin-right: 5px;
}
.member-stats .item .value {
    font-weight: 500;
}
@media (max-width: 960px){
    .member-stats .item .label,
    .member-stats .item .value {
        font-size: 16px;
    }
}

.member-summary {
    display: flex;
    flex-wrap: wrap;
    margin-top: -30px;
    margin-left: -30px;
}
.member-summary > * {
    box-sizing: border-box;
    padding-top: 30px;
    padding-left: 30px;
}
@media (max-width: 960px){
    .member-summary {
        margin-top: -20px;
        margin-left: -20px;
    }
    .member-summary > * {
        padding-top: 20px;
        padding-left: 20px;
    }
}

.social-wrapper {
    display: flex;
    flex-wrap: wrap;
    margin-top: -15px;
    margin-left: -15px;
}
.social-wrapper > * {
    box-sizing: border-box;
    padding-top: 15px;
    padding-left: 15px;
}
.social-wrapper a {
    position: relative;
    display: flex;
    border: 1px solid rgba(0,0,0,.09);
    border-radius: 50%;
    box-sizing: border-box;
    overflow: hidden;
    min-width: 46px;
    min-height: 46px;
    background-color: rgba(82,65,65,0);
    transition: border .5s, border-radius 1s, background-color .5s;
}
.social-wrapper a .icon {
    position: absolute;
    top: 50%;
    right: 50%;
    transform: translate(50%, -50%);
    opacity: .7;
    transition: opacity .5s, transform .4s ease-out;
}
.social-wrapper a::before {
    content: "";
    display: flex;
    position: absolute;
    top: 0;
    left: 0;
}
.social-wrapper a:hover {
    border-radius: 0;
    border: 1px solid transparent;
    background-color: transparent;
}
.social-wrapper a:hover .icon {
    opacity: 1;
    transform: translate(50%, -50%) scale(1.3);
}

.page-photo-container {
    position: relative;
    width: 100%;
    height: 70vh;
    -webkit-mask-image: linear-gradient(0deg,transparent 0,#000 85%);
    mask-image: linear-gradient(0deg,transparent 0,#000 85%);
}
.page-photo {
    position: absolute;
    z-index: 2;
    top: 50%;
    right: 50%;
    width: 100%;
    height: 100%;
    transform: translate(50%,-50%);
    object-fit: cover;
    user-select: none;
    pointer-events: none;
}
.ship-container {
    position: relative;
    min-height: 100vh;
    -webkit-mask-image: linear-gradient(0deg,transparent 0,#000 65%);
    mask-image: linear-gradient(0deg,transparent 0,#000 65%);
}
.ship-container .planet-big,
.ship-container .planet-small {
    position: absolute;
    z-index: 1;
    width: max-content;
}
.ship-container .planet-big {
    top: 0;
    left: 0;
    width: 32%;
}
.ship-container .planet-small {
    top: 0;
    right: 0;
    width: 26%;
}
/*.ship-container::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 101%;
    background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, #000000 100%);
    z-index: 3;
}*/
.ship-hull {
    position: absolute;
    z-index: 2;
    top: 50%;
    right: 50%;
    width: 100%;
    height: 100%;
    transform: translate(50%, -50%);
}
.ship-hull .context {
    position: relative;
    display: flex;
    z-index: 6;
}
@media (max-width: 1600px) {
    .ship-container {
        min-height: 0;
        padding-bottom: 56.26%;
    }
}

.poc-context {
    position: relative;
    z-index: 3;
    padding-top: 30%;
    width: 100%;
}
.page-context {
    position: relative;
    z-index: 3;
    padding-top: 50%;
    width: 100%;
}
.poc-context .staticPage-heading {
    text-align: center;
}


.back {
    position: fixed;
    bottom: 10%;
    left: 5%;
}
.back-button {
    position: relative;
    display: flex;
    flex-flow: column;
    border-radius: 50%;
    border: 1px solid transparent;
    padding: 0;
    width: 150px;
    height: 150px;
    background-color: transparent;
    transition: border .5s, background-color .5s;
}
.back-button i {
    position: absolute;
    top: 50%;
    right: 50%;
    transform: translate(50%,-50%);
    width: 100%;
    height: 100%;
}
.back-button i path {
    fill: #fff;
    transition: fill .5s;
}
.back-button:hover {
    background-color: transparent;
}
.back-button:hover i path {
    fill: #0075ff;
}

article {
    padding-bottom: 60px;
    color: #fff;
}

article .name {
    position: relative;
    display: block;
    margin-bottom: 15px;
    font-size: 48px;
    font-weight: bold;
    line-height: 1.1;
    color: #fff;
}
article .name::before {
    content: "";
    position: absolute;
    height: 2px;
    width: 200px;
    bottom: 0;
    left: 0;
}
article .text {
    font-size: 16px;
    line-height: 1.5;
}
article time {
    display: block;
    border-top: 1px solid #9bb9cb;
    margin: 20px 0;
    padding-top: 15px;
    padding-right: 30px;
    width: max-content;
    min-width: 80px;
    font-size: 14px;
    font-weight: bold;
    color: #9bb9cb;
}
@media (max-width: 1600px) {
    article .name {
        margin-bottom: 20px;
        font-size: 32px;
    }
    article .text {
        font-size: 16px;
    }
}
@media (max-width: 1200px) {
    article {
        padding-bottom: 40px;
    }
    article .name {
        font-size: 24px;
    }
    article .text {
        font-size: 14px;
    }
}
.article-image {
    position: relative;
    display: block;
    border-radius: 4px;
    overflow: hidden;
    padding-bottom: 25%;
    -webkit-mask-image: linear-gradient(0deg,transparent 0,#000 25%);
    mask-image: linear-gradient(0deg,transparent 0,#000 25%);
}
.article-image img {
    position: absolute;
    top: 50%;
    right: 50%;
    transform: translate(50%,-50%);
    width: 100%;
    height: 100%;
    object-fit: cover;
}