
.container-small {
    display: block;
    margin: 0 auto;
    box-sizing: border-box;
    padding: 0 20px;
    max-width: 1280px;
    clear-after: both;
}
.container-medium {
    display: block;
    margin: 0 auto;
    box-sizing: border-box;
    padding: 0 20px;
    max-width: 1420px;
    clear-after: both;
}
.container-expand {
    display: block;
    margin: 0 auto;
    box-sizing: border-box;
    padding: 0 50px;
    max-width: 1920px;
    clear-after: both;
}
@media (max-width: 1420px){
    .container-expand {
        padding: 0 20px;
    }
}


.button {
    overflow: hidden;
    border-radius: 5px;
    border-style: none;
    padding: 5px 10px;
    background-color: transparent;
    transition: background-color .5s;
}
.button i {
    display: flex;
    margin-top: -3px;
    height: max-content;
    width: max-content;
}
.button:hover {
    background-color: #EDEFF5;
}

.simple-button {
    border: 1px solid #54595f;
    border-radius: 5px;
    box-sizing: border-box;
    padding: 5px 10px;
    color: #54595f;
    font-size: 15px;
    line-height: 1;
    background-color: transparent;
    transition: background-color .5s;
}
.simple-button:hover {
    background-color: rgba(0,0,0,.2);
}


.tab-header {
    display: flex;
    border-top: 2px solid rgba(84, 89, 95, 0.1);
    border-bottom: 2px solid rgba(84, 89, 95, 0.1);
    margin-bottom: 20px;
    padding: 0 20px;
}
.tab-button__wrapper {
    flex: 1;
    display: flex;
    flex-wrap: wrap;
    margin-top: -20px;
    margin-left: -30px;
}
.tab-button__wrapper > * {
    padding-top: 20px;
    padding-left: 30px;
}
.tab-button {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    border-style: none;
    padding: 10px 0;
    font-size: 15px;
    line-height: 18px;
    font-weight: 400;
    color: #54595f;
    text-transform: uppercase;
    background-color: transparent;
}
.tab-button.active {
    font-weight: 700;
}
.tab-button::before {
    content: "";
    position: absolute;
    bottom: -2px;
    left: 0;
    width: 100%;
    height: 2px;
    background-color: transparent;
    transition: background-color .5s;
}
.tab-button.active::before {
    background-color: #54595f;
}
.tab-button:not(.active):hover::before {
    background-color: rgba(84, 89, 95, 0.5);
}

.tab-contents {
    position: relative;
    padding: 50px 0;
}
.tab-contents > div:not(.open) {
    display: none;
}
.tab-contents .tab-item {
    font-size: 14px;
    color: #363636;
}