body {
    background-color: #fff;
}
a:hover {
    text-decoration: none;
}
button:not(:disabled) {
    cursor: pointer;
}

.header {
    display: block;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
}

.hdr-wrapper {
    display: flex;
    flex-wrap: wrap;
    box-sizing: border-box;
    padding: 15px 0;
    flex: 1;
    min-width: 100%;
}




.main-menu {
    flex: 1;
    display: flex;
    justify-content: center;
}
.menu-wrapper {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    margin-top: -25px;
    margin-left: -25px;
}
.menu-wrapper > * {
    padding-top: 25px;
    padding-left: 25px;
}
.menu-wrapper .menu {
    position: relative;
    display: block;
    color: #555;
}
.menu-wrapper .menu::before {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 0;
    background-color: #555;
    transition: height .2s ease;
}
.menu-wrapper .menu:hover::before {
    height: 2px;
}

.search-form {
    position: relative;
    display: flex;
}
.search-form .search-button {
    border-style: none;
    position: absolute;
    top: 50%;
    right: 10%;
    transform: translate(50%, -50%);
}

.search {
    border-radius: 5px;
    border-style: none;
    padding: 10px 40px 10px 20px;
    background-color: #EDEFF5;
    outline: none;
}
.search::placeholder {
    font-size: 14px;

}
.search::-webkit-search-cancel-button {
    -webkit-appearance: none;
    appearance: none;
    padding: 5px;
    height: 10px;
    width: 10px;
    background: transparent url("data:image/svg+xml,%3Csvg width='124' height='124' viewBox='0 0 124 124' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M121.325 10.925L112.825 2.52599C110.525 0.225995 106.725 0.225995 104.325 2.52599L61.925 44.925L18.726 1.72599C16.425 -0.575005 12.625 -0.575005 10.226 1.72599L1.72599 10.226C-0.575005 12.526 -0.575005 16.326 1.72599 18.726L44.826 61.826L2.52599 104.326C0.225995 106.626 0.225995 110.426 2.52599 112.826L11.026 121.326C13.326 123.626 17.126 123.626 19.526 121.326L61.925 78.926L104.325 121.326C106.625 123.626 110.425 123.626 112.825 121.326L121.325 112.826C123.625 110.526 123.625 106.726 121.325 104.326L78.825 61.926L121.225 19.527C123.625 17.125 123.625 13.325 121.325 10.925Z' fill='%23555555'/%3E%3C/svg%3E%0A") no-repeat center center;
    background-size: 10px 10px;
    transition: background-color .4s;
}

.section {
    padding: 50px 0;
}