.submenu .flex-row div {
    position: relative;
    padding: 10px;
}
@media (max-width: 1200px) {
    .bottom-space{
        margin-bottom: 40px!important;
    }
}
.ins:hover{
    background: #f6acb9;
    color: #fff;
}
@media (max-width: 760px){
    .header-height {
        height: 0!important;
    }
}
.header-height {
    height: 98px;
}
.shud-header {
    z-index: 100;
}
.shud-header {
    position: fixed;
    right: 0;
    left: 0;
    top: 0;
    z-index: 2;
    background: #fff;
}
@media (max-width: 765px) {
    .shud-container{
        padding: 0!important;
    }
    .home-page__wrapper{
        padding: 0px 15px;
    }
    .home-slider__wrapper{
        height: 350px;
    }
}
@media (max-width: 767px){
    .visible-xs {
        display: block!important;
        position: relative;
        top: 20px;
        right: 20px;
        color: #22181C;
    }
}
@media (max-width: 1600px) {
    .home-page__login-wrapper{
        display: none;
    }
}
.home-page__login-wrapper a:hover{
    color: #fff;
}
.home-page__login-wrapper{
    position: absolute;
    display: block;
    top: 53px;
    right: 31px;
}


a, a:focus, a:hover {
    text-decoration: none;
}
a {
    color: #040e3f;
}
a {
    background-color: transparent;
}

.btn {
    text-shadow: none;
}

.btn-primary {
    color: #fff;
    background-color: #ec2027;
    border-color: #df131a;
}
.btn {
    display: inline-block;
    margin-bottom: 0;
    font-weight: 400;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    background-image: none;
    border: 1px solid transparent;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857;
    border-radius: 4px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.nav-pills > li > a > .badge {
    margin-left: 3px;
}

.badge.primary {
    background-color: #ec2027;
}
.badge {
    position: absolute;
    top: 16px;
    right: -3px;
}
.badge {
    display: inline-block;
    min-width: 10px;
    padding: 3px 7px;
    font-size: 12px;
    font-weight: bold;
    line-height: 1;
    color: #fff;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    background-color: #777777;
    border-radius: 10px;
}
.flex-1 div {
    position: relative;
}
.sub-title{
    padding-left: 30px;
}
#app-header .submenu .flex-row div {
    position: relative;
    padding: 10px;
}
.flex-1 ul li{
    padding-inline-start: 0px!important;
    line-height: 1.8rem;
}
.flex-1 {
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
}
.flex-row{
    display: flex;
}
.flex-row .flex-1::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 84%;
    display: flex;
    right: 0;
    left: 0;
    bottom: 20%;
    border-right: 1px solid #CC0000;
    z-index: 100;
    pointer-events: none;
}
.flex-row .flex-1 ul li{
    padding-left: 20px;
    font-size: 13px;
    color: #040e3f;
}
.dropdown__menu-item{
    padding-top: 45px;
}
.dropdown-menu {
    border: none;
    border-radius: 0;
    -webkit-box-shadow: 0 3px 5px rgb(0 0 0 / 10%);
    box-shadow: 0 3px 5px rgb(0 0 0 / 10%);
}
.submenu{
    width: 100%;
    height: 65px;
    display: flex;
    position: fixed;
    right: 0;
    left: 0;
    top: 95px;
    z-index: 100;
    background: #fff;
    -webkit-box-shadow: 0 1px 5px rgb(0 0 0 / 10%);
    box-shadow: 0 1px 5px rgb(0 0 0 / 10%);
}
.submenu{
    display: none;
}

@media (max-width: 900px) {
    .header-height{
        height: 0!important;
    }
}
.item-box svg{
    background: #fde5e5;
    border-radius: 50%;
    padding: 6px;
    color: red;
}
body{
    font-family: Rubik,Helvetica,Arial,sans-serif;
}
.footer-space__wrapper{
    padding: 20px;
}
.footer-space{
    display: flex;
    justify-content: center;
    align-items: center;
}
.home-page__header-search{
    position: absolute;
    top: 52px;
    right: 124px;
}
.header-red-line{
    display: flex;
    background: #f50909;
    height: 3px;
    margin: 0;
    padding: 0
}
.search__button svg{
    position: absolute;
    top: 7px;
    left: 7px;
    cursor: pointer;
}
.home-page__logo{
    position: absolute;
    top: 83px;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 100;
    border-radius: 50%;
}
@media (max-width: 700px){
    .item-box svg{
        width: 40px;
        height: 40px;
    }
}
@media (min-width: 1600px){
    .home-page__logo img{
        width: 150px;
        height: 146px;
    }
}
@media (max-width: 1000px) {
    .home-page__header-search {
        position: absolute;
        top: 53px;
        right: 16px;
    }
}
@media (max-width: 450px) {
    .item-box{
        padding: 7px!important;
    }
}

@media (max-width: 1200px) {
    .quik__title{
        font-size: 11px!important;
    }
}
@media (max-width: 1100px){
    .header-red__line{
        display: none;
    }
    .home-page__header {
        display: none!important;
    }
}
@media (max-width: 1600px){
    .home-page__logo img{
        width: 120px;
        height: 110px;
    }
    .home-page__menu ul li a{
        font-size: 14px!important;
        color: #040e3f;
        padding-right: 20px;
        font-weight: 700;
    }
}
@media (max-width: 900px){
    .home-page__logo img{
        width: 100px;
        height: 90px;
    }
    .home-page__menu ul li a{
        font-size: 12px!important;
        color: #040e3f;
        padding-right: 20px;
        font-weight: 700;
    }
}
.home-page__menu{
    position: absolute;
    top: 41px;
    left: 18px;
}
/*.home-page__menu ul{*/
/*    display: flex;*/
/*    padding-left: 20px;*/
/*}*/
.home-page__menu ul li a{
    font-size: 16px;
    color: #040e3f;
    padding-right: 20px;
    font-weight: 700;
    position: relative;
    bottom: 10px;
}
.home-page__menu ul li a:hover{
    color: #ec2027;
}
.home-page__header{
    display: flex;
    justify-content: space-between;
    height: 90px;
}
#search {
    position: relative;
}

#app-header svg{
    opacity: .8;
}
svg:not(:root){
    overflow: hidden;
}

#search input{
    color: #040e3f;
    width: 200px;
    height: 32px;
    padding-left: 40px;
    border: 1px solid #F5F5F5;
    background: #f6f7f9;
    box-shadow: none;
    font-size: 13px;
    border-radius: 10px;
}
@media (max-width: 1200px){
    .uk-width-2-4\@m {
        width: 50%;
    }
}
@media (max-width: 900px){
    #app-header #searchForm input {
        width: 100%;
    }
    #app-header #searchForm input {
        color: #040e3f;
        width: 250px;
        height: 40px;
        padding-left: 40px;
        border: 1px solid #f5f5f5;
        background: #f6f7f9;
        -webkit-box-shadow: none;
        box-shadow: none;
        font-size: 13px;
        border-radius: 10px;
    }
}
@media (max-width: 900px){
    .hidden-xs {
        display: none!important;
    }
}
.mobile-menu__image{
    display: flex;
    justify-content: center;
    align-items: center;
}
.mobile-menu__image img{
    width: 100px;
    height: 100px;
}
#menu li a{
    font-size: 16px;
    font-weight: 700;
    border-radius: 4px;
    color: #22181C;
    line-height: 1rem;
}
#menu li a:hover {
    color: #ec2027;
}
li{
    list-style: none;
}
.mobi-search{
    position: absolute;
    right: 20px;
    display: block;
    bottom: 0;
    top: 20px;
    color: #22181C;
}
from input{
    display: none;
}
.mobi-img{
    position: absolute;
    top: 86%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.mobi-container{
    width: 100%;
    height: 65px;
    display: flex;
    position: fixed;
    right: 0;
    left: 0;
    top: 0;
    z-index: 2;
    background: #fff;
    -webkit-box-shadow: 0 1px 5px rgb(0 0 0 / 10%);
    box-shadow: 0 1px 5px rgb(0 0 0 / 10%);
}
.mobi-img img{
    width: 120px;
    height: 120px;
}

#menuToggle {
    display: flex;
    flex-direction: column;
    position: relative;
    top: 25px;
    left: 25px;
    z-index: 1;
    -webkit-user-select: none;
    user-select: none;
}

#menuToggle input
{
    display: flex;
    width: 40px;
    height: 32px;
    position: absolute;
    cursor: pointer;
    opacity: 0;
    z-index: 2;
}

#menuToggle span
{
    display: flex;
    width: 21px;
    height: 1px;
    margin-bottom: 5px;
    position: relative;
    background: #2A2A2A;
    border-radius: 3px;
    z-index: 1;
    transform-origin: 5px 0px;
    transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
    background 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
    opacity 0.55s ease;
}

#menuToggle span:first-child
{
    transform-origin: 0% 0%;
}

#menuToggle span:nth-last-child(2)
{
    transform-origin: 0% 100%;
}

#menuToggle input:checked ~ span
{
    opacity: 1;
    transform: rotate(45deg) translate(-3px, -1px);
    background: #36383F;
    width: 28px;
    height: 2px;
}
#menuToggle input:checked ~ span:nth-last-child(3)
{
    opacity: 0;
    transform: rotate(0deg) scale(0.2, 0.2);
}

#menuToggle input:checked ~ span:nth-last-child(2)
{
    transform: rotate(-45deg) translate(0, -1px);
}

#menu
{
    position: absolute;
    width: 250px;
    height: 2000px;
    box-shadow: 0 0 10px #85888C;
    margin: -50px 0 0 -50px;
    padding: 50px;
    padding-top: 125px;
    background-color: rgb(255, 255, 255);
    -webkit-font-smoothing: antialiased;
    transform-origin: 0% 0%;
    transform: translate(-100%, 0);
}

#menu .menu-wrap{
    width: 250px;
    height: 560px;
    padding-right: 20px;
    transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0);
    scroll-behavior: smooth;
    overflow-y: scroll;
}

#menu li
{
    padding: 10px 0;
    transition-delay: 2s;
}

#menuToggle input:checked ~ ul
{
    transform: none;
}
@media (min-width: 1100px) {
    .mobi-container{
        display: none;
    }
}
@media (max-width: 1250px) {
    .main-page__image img{
        position: absolute;
        top: 50%;
        right: 50%;
        transform: translate(50%, -50%);
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
    .main-page__image{
        position: relative;
        display: block;
        padding-bottom: 80%!important;
        height: 0;
        overflow: hidden;
        border-radius: 5px;
        margin-bottom: 20px;
        border: 1px solid #dcdcdc;
        background: #e9e9e9;
    }
}
.truncate {
    text-overflow: ellipsis;
    -webkit-line-clamp: 2;
    display: -webkit-box;
    overflow: hidden;
    -webkit-box-orient: vertical;
}
.item-desc {
    font-size: 12px;
    margin-bottom: 10px;
}
.home-page__item-title{
    font-size: 16px;
    color: #040e3f;
    text-transform: uppercase;
    font-weight: 700;
    font-family: Rubik,Helvetica,Arial,sans-serif;
    min-height: 40px;
    margin: 0;
}
.home-page__item-title:hover{
    color: #ec2027;
}
.goall {
    font-size: 13px;
    color: #040e3f;
    font-family: Rubik,Helvetica,Arial,sans-serif;
}
.goall:hover{
    color: #ec2027!important;
}
.home-page__sub-title{
    font-size: 18px;
    color: #2A2A2A;
    font-weight: 700;
}
.flex-home_page-button {
    padding: 15px;
}
.flex-home_page-button {
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}
.flex-home_page-button {
    display: -ms-flexbox!important;
    display: flex!important;
    -webkit-box-orient: horizontal!important;
    -webkit-box-direction: normal!important;
    -ms-flex-direction: row!important;
    flex-direction: row!important;
    justify-content: space-between;
}
.quik__title{
    margin-bottom: 0px;
    font-size: 16px;
    font-weight: 700;
    font-family: Rubik,Helvetica,Arial,sans-serif;
    margin-top: 10px;
}
.main-wrapper {
    width: 100%;
    display: block;
    overflow: hidden;
    border-radius: 10px;
    border: 1px solid #dcdcdc;
}
.shud-banner__image{
    position: relative;
    display: block;
    padding-bottom: 32%;
    height: 0;
    overflow: hidden;
    background-color: #e9e9e9;
}
.shud-banner__image img {
    position: absolute;
    top: 50%;
    right: 50%;
    transform: translate(50%, -50%);
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.shud__title{
    margin-bottom: 20px;
    margin-top: 0;
    color: #ec2027;
    font-family: Arial;
    font-style:italic;
    font-weight: 600;
    font-size: 28px;
}
.item-box {
    padding: 15px;
    display: block;
    cursor: pointer;
    border-radius: 15px;
    border: 1px solid #dcdcdc;
    -webkit-box-shadow: 0 1px 2px rgb(0 0 0 / 20%);
    box-shadow: 0 1px 2px rgb(0 0 0 / 20%);
}
.overflowContent {
    content: '';
    position: absolute;
    background: rgba(0, 0, 0, 0.5);
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
}
.swiper-pagination-bullets {
    left: 10% !important;
    bottom: 34px!important;
    width: auto!important;
}
.swiper-pagination-bullets .swiper-pagination-bullet-active {
    background: #fff!important;
}
.swiper-pagination-bullets .swiper-pagination-bullet {
    width: 10px;
    height: 10px;
    background: rgba(0,0,0,.2);
    opacity: 1;
    border: 1px solid #fff;
}
.swiper-container-horizontal>.swiper-pagination-bullets .swiper-pagination-bullet {
    margin: 0 4px;
}
.swiper-pagination-bullet {
    width: 8px;
    height: 8px;
    display: inline-block;
    border-radius: 100%;
    background: #000;
    opacity: .2;
}
.custom-swiper-button-prev {
    right: 75px;
}
.text-primary {
    color: #ec2027!important;
}
.custom-swiper-button-next, .custom-swiper-button-prev {
    position: absolute;
    bottom: 25px;
    right: 25px;
    z-index: 1;
    border-radius: 50%;
    background: hsla(0,0%,100%,.9);
    padding: 7px;
    outline: none;
    cursor: pointer;
}
.swiper-title{
    color: rgb(255, 0, 21);
    font-size: 20px;
    width: 500px;
    text-align: left;
    line-height: 1.1;
    padding-bottom: 20px;
}
.swiper-body{
    color: #fff;
    font-size: 14px;
    width: 500px;
    text-align: left;
    line-height: 1.1;
    padding-bottom: 20px;
}
.swiper-button{
    margin-top: 40px;
    text-align: left;
    border: none;
    color: #fff;
    text-transform: uppercase;
    padding: 10px 40px;
    font-size: 12px;
    background: hsla(0, 0%, 100%, .1);
    background-image: linear-gradient(91deg,#c81e37,#eb0014);
    border-radius: 2px;
}
.swiper-desc{
    position: absolute;
    top: 62%;
    left: 10%;
}
.main-page__image{
    position: relative;
    display: block;
    padding-bottom: 50%;
    height: 0;
    overflow: hidden;
    background-color: #e9e9e9;
}
.main-page__image img {
    position: absolute;
    top: 50%;
    right: 50%;
    transform: translate(50%, -50%);
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.shud-item-img img {
    position: absolute;
    top: 50%;
    right: 50%;
    transform: translate(50%, -50%);
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.shud-item-img{
    position: relative;
    display: block;
    padding-bottom: 60%;
    height: 0;
    overflow: hidden;
    border-radius: 5px;
    margin-bottom: 20px;
    border: 1px solid #dcdcdc;
    background: #e9e9e9;
}
.shud-container {
    padding: 0 30px;
    max-width: 2000px;
    margin: 0 auto;
}

 .article-desc:hover{
     color: #ec2027;
 }
.article-desc{
    color: #000;
    transition: color .2s;
    font-weight: 400;
    display: block;
    font-size: 1rem;
}
.article__img{
    position: relative;
    overflow: hidden;
    padding-bottom: 70.11%;
    height: 0;
}
.article__img img {
    position: absolute;
    top: 50%;
    right: 50%;
    transform: translate(50%, -50%);
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.mt-30{
    margin-top: 30px;
}
.mb-30{
    margin-bottom: 30px;
}
/*.yellow-on-hover[data-v-8af4743e]:hover, .yellow-on-hover:hover *[data-v-8af4743e] {*/
/*    color: #cc0000!important;*/
/*}*/
/*.icon[data-v-8af4743e] {*/
/*    display: inline-block;*/
/*    width: 24px;*/
/*    height: 24px;*/
/*    -webkit-mask-size: contain!important;*/
/*    mask-size: contain!important;*/
/*    -webkit-mask-repeat: no-repeat!important;*/
/*    mask-repeat: no-repeat!important;*/
/*}*/
.yellow-on-hover *[data-v-8af4743e] {
    transition: color .1s;
}
.w-6 {
    width: 1.5rem;
}
.h-6 {
    height: 1.5rem;
}
.text-2xl {
    font-size: 1.5rem;
    line-height: 2rem;
}
.text-center {
    text-align: center;
}
.p-1 {
    padding: 0.25rem;
}
.rounded-full {
    border-radius: 9999px;
}
.justify-center {
    justify-content: center;
}
.items-center {
    align-items: center;
}
.inline-flex {
    display: inline-flex;
}
.mr-6 {
    margin-right: 1.5rem;
}
.items-center {
    align-items: center;
}
.bs-flex {
    display: flex;
}
.mt-3 {
    margin-top: 0.75rem;
}
.font-medium {
    color: #22181c;
    font-weight: 500;
}
.text-lg {
    font-size: 1.125rem;
    line-height: 1.75rem;
}
@media (min-width: 768px){
    .md\:mt-20 {
        margin-top: 5rem;
        margin-bottom: 2rem;
    }
}
.bs-flex-col {
    flex-direction: column;
}
.bs-flex {
    display: flex;
}
.content-body blockquote {
    padding: 0.5rem 0.5rem 0.5rem 1rem;
    border-left: 3px solid rgba(13,13,13,.1);
    background: #ececec;
    margin: 16px 0;
    font-style: italic;
}
.content-body strong, .content-body strong * {
    font-weight: 600!important;
}
.content-body p {
    margin-bottom: 16px;
    text-align: start!important;
}
.content-body p {
    min-height: 40px;
}
.content-body * {
    font-weight: 300;
    font-size: 20px;
    line-height: 40px;
    color: #333;
    text-align: start!important;
}
@media (min-width: 768px){
    .md\:mt-14 {
        margin-top: 3.5rem;
    }
}

.mt-2 {
    margin-top: 0.5rem;
}
.article-image{
    position: relative;
    overflow: hidden;
    padding-bottom: 55.11%;
    height: 0;
}
.article-image img {
    position: absolute;
    top: 50%;
    right: 50%;
    transform: translate(50%, -50%);
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.text-xs {
    font-size: 0.75rem;
    line-height: 1rem;
}
@media (min-width: 768px){
    .md\:mt-10 {
        margin-top: 2.5rem;
    }
}
.items-center {
    align-items: center;
}
.bs-flex {
    display: flex;
}
.mb-4 {
    margin-bottom: 1rem;
}
.mt-5 {
    margin-top: 1.25rem;
}
@media (min-width: 768px){
    .md\:pt-48 {
        padding-top: 12rem;
    }
}
@media (min-width: 768px){
    .md\:px-20 {
        padding-left: 5rem;
        padding-right: 5rem;
    }
    .pt-32 {
        padding-top: 8rem;
    }
    .px-5 {
        padding-left: 1.25rem;
        padding-right: 1.25rem;
    }
    .bg-white {
        --tw-bg-opacity: 1;
        background-color: rgba(255, 255, 255, var(--tw-bg-opacity));
    }
    .w-full {
        width: 100%;
    }
    .min-h-screen {
        min-height: 100vh;
    }
    .mx-auto {
        margin-left: auto;
        margin-right: auto;
    }
}
@media (min-width: 768px){
    .container {
        max-width: 768px;
    }
}
@media (min-width: 1200px){
    .container {
        max-width: 1100px;
    }
    .bs-text-padding {
        padding: 0px 100px;
    }
    .container {
        width: 100%;
    }
}
@media (max-width: 768px){
    .md\:text-5xl {
        font-size: 3rem;
        line-height: 1;
        text-align: center;
    }
}
@media (max-width: 768px){
    .md\:text-center {
        text-align: center;
    }
}
@media (max-width: 768px){
    .md\:mt-10 {
        margin-top: 2.5rem;
    }
    .font-medium {
        font-weight: 500;
    }
    .text-lg {
        font-size: 1.125rem;
        line-height: 1.75rem;
    }
    .text-left {
        text-align: left;
    }
    .mt-7 {
        margin-top: 1.75rem;
    }
}
.mx-auto {
    margin-left: auto;
    margin-right: auto;
}
.max-w-5xl {
    max-width: 64rem;
    text-align: center;
    color: #000;
    font-weight: 600;
    font-size: 3rem;
    line-height: 3rem;
}
.mr-6 {
    margin-right: 1.5rem;
}
.uppercase {
    text-transform: uppercase;
}
.font-light {
    font-weight: 300;
}
.text-sm {
    font-size: 0.875rem;
    line-height: 1.25rem;
}
.items-center {
    align-items: center;
}
.bs-flex {
    display: flex;
}
@media (min-width: 768px){
    .md\:pt-48 {
        padding-top: 12rem;
    }
}
@media (max-width: 1300px){
    .container-x {
        padding-left: 2rem;
        padding-right: 2rem;
    }
}
@media (min-width: 768px){
    .md\:px-20 {
        padding-left: 5rem;
        padding-right: 5rem;
    }
    .pt-32 {
        padding-top: 8rem;
    }
    .px-5 {
        padding-left: 1.25rem;
        padding-right: 1.25rem;
    }
    .bg-white {
        --tw-bg-opacity: 1;
        background-color: rgba(255, 255, 255, var(--tw-bg-opacity));
    }
    .w-full {
        width: 100%;
    }
    .min-h-screen {
        min-height: 100vh;
    }
    .mx-auto {
        margin-left: auto;
        margin-right: auto;
    }
}
@media (min-width: 1600px){
    .container {
        max-width: 1200px;
    }
    .container-x{
        display: flow-root;
        box-sizing: content-box;
        max-width: 1300px;
        margin-left: auto;
        margin-right: auto;
        padding-left: 15px;
        padding-right: 15px;
    }
    .bs-text-padding{
        padding: 0px 150px;
    }
}
s
@media (min-width: 768px){
    .md\:px-20 {
        padding-left: 5rem;
        padding-right: 5rem;
    }
}

@media (max-width: 1600px) {
    .main-page__image{
        position: relative;
        display: block;
        padding-bottom: 63%;
        height: 0;
        overflow: hidden;
        background-color: #e9e9e9;
    }
}

@media (max-width: 750px){
    .container {
        max-width: 1200px;
        padding-right: 1.25rem;
        padding-left: 1.25rem;
        padding-top: 131px;
    }
    .min-h-screen {
        min-height: 100vh;
    }
    .mx-auto {
        margin-left: auto;
        margin-right: auto;
    }
    .container-x{
        margin-top: 20px;
        padding-right: 1.25rem;
        padding-left: 1.25rem;
    }
    .article-desc{
        margin-bottom: 30px!important;
    }
    .max-w-5xl{
        font-size: 22px;
        text-transform: uppercase;
        line-height: 1.7rem;
    }
    .content-body * {
        font-weight: 300;
        font-size: 16px;
        line-height: 40px;
        color: #333;
        line-height: 1.8rem;
        text-align: start!important;
    }
}

.shud__title {
    position: relative;
    top: 10px;
}

.container-large{
    display: flow-root;
    box-sizing: content-box;
    max-width: 2029px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 15px;
    padding-right: 15px;
    position: relative;
}

