

.header{position: relative}
.header-top>div{display: flex; justify-content: space-between}
.header-main-img>li{overflow: hidden}
.header-main-img>li>img{width: 100%; height: 100vh}
.header-top{display: flex; padding: 5px 0; justify-content: space-between; background: #00038b}
.header-top-icon>i{margin-right: 5px; font-size: 14px; color: #fff}
.header-top-phone{color: #fff}
.header-mid{border-bottom: 1px solid #fff;}
.header-mid-grid{display: flex; justify-content: space-between;}
.header-logo{padding: 20px 0; width: 100px;}
.header-menu{display: flex; align-items: center; list-style: none}
.header-menu>li>a{padding: 20px 10px; font-size: 16px; text-decoration: none; text-transform: uppercase; color: #fff;}

.bg-transparent{background: initial;}
.bg-transparent>.scroll-css{background: #00038b;}

.service-title{margin: 30px 0; text-align: center; font-size: 30px; font-weight: 700; text-transform: uppercase; color: #0a53be}
.service-grid{display: flex; margin-left: -20px; margin-right: -20px}
.service-item{padding: 0 20px;}
.service-item-name{font-size: 16px; font-weight: 600; color: #333}

.search{position: relative; margin-top: 20px;}
.search-title{position: absolute; z-index: 1; top: -20px; left: 47%; padding: 10px 20px; margin: 0 auto; width: 150px; text-align: center; font-weight: 700; font-size: 18px; color: #fff; background: #0a53be}
.search-img{position: relative; height: 60vh; overflow: hidden; background-size: cover;}

.organisation{margin-top: 20px;}
.org-title{font-size: 30px; font-weight: 700; text-transform: uppercase; text-align: center; color: #0dcaf0}
.org-grid{display: flex; justify-content: space-between}
.org-left{display: flex; flex-wrap: wrap}
.org-right{display: flex; flex-wrap: wrap}
.org-item{width: 130px;}

.uk-slider-items>li>img{width: 100%;}
.about-section-name{position: relative; font-size: 15px; font-weight: 700; line-height: 20px; text-transform: uppercase;}
.about-section-name:before{content: ''; position: absolute; height: 2px; width: 200%;}
.uk-subnav-pill > .uk-active > a{background-color: initial; color: initial}
.uk-subnav-pill > .uk-active > a:after{content: ''; vertical-align: middle; border-bottom: 6px solid; border-right: 6px solid rgba(0,0,0,0); border-left: 6px solid rgba(0,0,0,0); position: absolute; bottom: 0; height: 20px; left: 50%; opacity: 1; transition: opacity .3s; transition-delay: .1s; color: #0a53be;}
.uk-subnav-pill > * > :first-child{padding: 10px 15px;}
.uk-slideshow{position: relative}
.uk-slideshow-nav{position: absolute; bottom: 10px; left: 50%;}
.service-content{margin-bottom: 70px; border-top: 3px solid #333}
.service-content-img{margin-bottom: 20px;}
.service-content-img>img{width: 100%}
.service-menu-content>div{text-align: justify; font-size: 14px; line-height: 22px; color: #676a6b}
.service-menu-content{padding-top: 40px;}

.footer{padding: 20px 0; text-align: center; background: #00038b}
.footer-static-text{color: #fff}

.contact{margin-top: 100px;}
.contact-text{display: flex; margin-bottom: 50px;}
.contact-title{font-size: 20px; text-transform: uppercase; font-weight: 700; line-height: 28px; color: #000}
.contact-desc{margin-left: 20px;}
.contact-desc-item{display: flex; margin-bottom: 10px; line-height: 22px; font-size: 14px; color: #676a6b}
.contact-desc-item>i{margin-right: 5px; font-size: 16px;}
.contact-input{overflow: hidden}
.contact-input>div{margin-bottom: 30px;}
.contact-input>div>input:first-child{margin-right: 10px;}
.contact-input>input{display: block; margin-bottom: 30px; width: 595px;}
input{padding: 10px 20px; border: initial; border-bottom: 1px solid #222}
:focus-visible {outline: initial}
.contact-submit{padding: 10px 20px; font-size: 16px; text-transform: uppercase; font-weight: 600; border-radius: 19px; border: 1px solid #222}

.map-text{margin-top: 80px;}
.map-section-title{margin-bottom: 30px; font-size: 22px; color: #333}
.map-select{display: flex; margin-right: 20px;}
.map-select>select{padding: 15px 8px; border: 1px solid #999}
.map-select>select:first-child{margin-right: 20px;}
.map-button{display: flex; margin: 20px 0; justify-content: end; padding: 20px 40px; border-radius: 5px; border: initial; text-align: center; background: #00438b; color: #fff}
.map-result{margin-bottom: 10px;}
.map-grid{display: flex; flex-wrap: wrap;}
.map-item{position: relative; margin-bottom: 40px; padding-right: 20px;}
.map-section{position: absolute; padding-right: 20px; bottom: 0; left: 0; right: 0; height: 100px; color: #fff}
.map-section>div{font-size: 20px; height: 100%; padding-top: 20px; background: linear-gradient(180deg,rgba(0,0,0,.5) 42%,rgba(0,0,0,0) 100%)}
.map-section>div>div{padding-left: 20px;}
