::-webkit-scrollbar {
    width: 10px;
}
::-webkit-scrollbar-track {
    /*box-shadow: inset 0 0 10px 10px rgba(0,0,0,.1);*/
    border: 2px solid transparent;
    box-shadow: inset 0 0 5px rgba(0,0,0,.1);
    border-radius: 0;
}
::-webkit-scrollbar-thumb {
    box-shadow: inset 0 0 10px 10px #c7c7c7;
    border: 2px solid transparent;
    background-color: transparent;
    border-radius: 10px;
    transition: background-color .5s;
}
::-webkit-scrollbar-thumb:hover {
    box-shadow: inset 0 0 10px 10px #b7b7b7;
    background-color: transparent;
}

body {
    position: relative;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #F5F5F5;
}

button:not(:disabled){
    cursor: pointer;
}
button:disabled{
    cursor: not-allowed;
}


.container {
    display: block;
    max-width: 1400px;
    margin: 0 auto;
}

.client {
    position: relative;
    display: flex;
    flex-flow: column;
    min-height: 100vh;
}
.client-body {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    box-sizing: border-box;
    min-width: 1px;
    flex: 1;
}
.client-body > *{
    /*padding-top: 30px;*/
    /*padding-left: 30px;*/
}


.client-side {
    display: flex;
    flex-flow: column;
    width: 250px;
    box-shadow: 2px 0 5px rgba(0,0,0,.2);
    transition: transform 1s;
    z-index: 3;
}
.client-side__control {
    display: none;
    position: fixed;
    align-items: center;
    justify-content: center;
    top: 20%;
    left: 0;
    border: none;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    background-color: #2d5c9d;
    z-index: 5;
    transition: transform .5s;
    cursor: pointer;
    transition: background-color .8s;
}
.client-side__control:hover {
    background-color: rgba(45, 92, 157, 0.75);
}
.client-side__control:active {
    background-color: rgba(45, 120, 157, 0.75);
}
@media (max-width: 1000px) {
    .client-side__control {
        display: flex;
        width: 30px;
        height: 90px;
    }
}
.control_hide {
    animation: .5s side_bonky forwards;
}
.control_show {
    animation: .5s side_bonky__show forwards;
}
.client-side__overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,.5);
    z-index: 2;
    transition: background-color 1s;
}
@keyframes side_bonky {
    0%{
        transform: translateX(0);
    }
    100%{
        transform: translateX(-100%);
    }
}
@keyframes side_bonky__show {
    0%{
        transform: translateX(-100%);
    }
    100%{
        transform: translateX(0);
    }
}
@media (max-width: 1000px){
    .client-side {
        position: absolute;
        transform: translateX(-100%);
        height: 100%;
    }
    .client-main {
        /*padding-left: 25px;*/
    }
}



.client-main {
    box-sizing: border-box;
    min-width: 1px;
    flex: 1;
    /*max-height: 100vh;*/
    overflow-y: auto;
    overflow-x: hidden;
}

.client-main::-webkit-scrollbar {
    width: 10px;
}
.client-main::-webkit-scrollbar-track {
    /*box-shadow: inset 0 0 10px 10px rgba(0,0,0,.1);*/
    border: 3px solid transparent;
    box-shadow: inset 0 0 5px rgba(0,0,0,.1);
    border-radius: 0;
}
.client-main::-webkit-scrollbar-thumb {
    box-shadow: inset 0 0 10px 10px #c7c7c7;
    border: 3px solid transparent;
    background-color: transparent;
    border-radius: 10px;
    transition: background-color .5s;
}
.client-main::-webkit-scrollbar-thumb:hover {
    box-shadow: inset 0 0 10px 10px #b7b7b7;
    background-color: transparent;
}



.client-main__body {
    box-sizing: border-box;
    /*padding: 20px;*/
}
.client-sidebar {
    position: relative;
    display: flex;
    flex-flow: column;
    overflow-y: auto;
    overflow-x: hidden;
    box-sizing: border-box;
    padding: 20px 0;
    background-color: #fff;
    flex: 1;
}

.client-menu {
    display: flex;
    flex-wrap: wrap;
    flex-flow: column;
    flex: 1;
    list-style-type: none;
    margin: 0;
    padding: 0;
}
.client-menu a {
    display: flex;
    box-sizing: border-box;
    padding: 0 20px;
    align-items: center;
    width: 100%;
    max-height: 40px;
    min-height: 40px;
    font-size: 14px;
    color: #363636;
    transition: background-color .8s;
}
.client-menu a i {
    justify-self: center;
    align-self: center;
    max-width: 20px;
    margin-right: 7px;
}
.client-menu a:hover {
    background-color: #f7f7f7;
}



.client-menu__header {
    align-self: center;
    display: flex;
    margin-left: auto;
}
.client-menu__header ul {
    display: flex;
    list-style-type: none;
    margin: 0;
    padding: 0;
}
.client-menu__header ul li:not(:first-child) {
    border-left: 1px solid #d7d7d7;
    padding-left: 10px;
    margin-left: 10px;
}
.client-menu__header ul li a {
    font-size: 18px;
    font-weight: 700;
    color: #333;
    line-height: 1;
}



.signout-item {
    margin-top: auto;
    padding: 0 15px;
}
.signout:not(:disabled) {
    display: flex;
    flex-wrap: wrap;
    gap: 5px;
    border: 1px solid #dd4b39;
    border-radius: 3px;
    box-sizing: border-box;
    align-items: center;
    padding: 0 20px;
    width: 100%;
    min-height: 40px;
    font-size: 14px;
    color: #DD4B39;
    line-height: 1;
    background-color: #fff;
    transition: background-color .5s, color .5s;
}
.signout:not(:disabled):hover {
    color: #fff;
    background-color: #dd4b39;
}


.i-button {
    border: 1px solid transparent;
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    background-color: white;
    transition: padding .5s ease, background-color .4s ease, color .4s ease;
    line-height: 150%;
    font-size: 14px;
}
.i-button * {
    transition: background-color .4s ease, color .4s ease, fill .4s ease;
}
.i-button:not(:disabled) {cursor: pointer}
.i-button__small {
    padding: 7px;
    height: 30px;
}
.i-button__medium {
    padding: 10px;
    height: 60px;
}
.i-button-transparent {
    color: #363636;
    background-color: transparent;
}
.i-button-transparent:hover {
    background-color: #f1f1f1;
}

.border-vertical {
    border: 1px solid #f7f7f7; padding: 10px 0;margin: 10px 0
}

.trainings {
    display: flex;
    flex-wrap: wrap;
    margin-top: -20px;
    margin-left: -20px;
    box-sizing: border-box;
}
.trainings > * {
    box-sizing: border-box;
    padding-top: 20px;
    padding-left: 20px;
    /*width: 100%;*/
}


.training-view {
    margin-top: 30px;
    border-radius: 5px;
    overflow: hidden;
}
.training-view .name {
    border-bottom: 1px solid #f1f1f1;
    box-sizing: border-box;
    padding: 20px;
    font-size: 18px;
    font-weight: 600;
    color: #363636;
    background-color: #fcfcfc;
}
.training-view__content {
    position: revert;
    overflow: hidden;
    display: block;
    box-sizing: border-box;
    padding: 20px 0;
    /*background-color: #fff;*/
}
.training-view__content .nav-tabs .nav-link.active{
    border-color: rgb(222 226 230) rgb(222 226 230) #f5f5f5;
    background-color: transparent;
}
.training-view__content .nav-link {
    color: #666;
}
.training-view__content .nav-link.active {
    color: #363636;
}


.tab-header {
    display: flex;
    border-bottom: 1px solid #f1f1f1;
    overflow-x: scroll
}
.tab-header::-webkit-scrollbar {
    display: none
}
.tab-button {
    position: relative;
    display: flex;
    border-style: none;
    border-radius: 3px 3px 0 0;
    padding: 5px 0;
    width: max-content;
    height: max-content;
    line-height: 100%;
    font-size: 14px;
    font-weight: 700;
    background-color: #fff;
    color: #a9aaac;
    cursor: pointer;
    transition: color .4s, background-color .4s;
    user-select: none;
}
.tab-button.tab-button__transparent {
    background-color: transparent
}
.tab-button:hover {
    color: #626262;
}
.tab-button::before {
    content: "";
    position: absolute;
    bottom: -5px;
    left: 0;
    border-radius: 1px;
    width: calc(100% + 10px);
    height: 2px;
    background-color: transparent;
    transition: background-color .4s
}
.tab-button.active {
    color: #363636
}
.tab-button.active::before {
    background-color: #55acee;
}
.tab-contents {
    position: relative;
    padding-top: 30px;
}
.tab-contents > div:not(.open) {
    display: none;
}
.tab-contents .tab-item {
    font-size: 14px;
    color: #363636;
}

.sub-heading {
    display: flex;
    margin-top: 2vw;
    margin-bottom: 10px;
    width: max-content;
    font-weight: 700;
    color: #363636;
    text-decoration: none;
}
.sub-heading:not(.static):hover {
    text-decoration: none;
}
.sub-heading:not(.static) span{
    align-self: center;
    display: inline-block;
    overflow: hidden;
    margin: 0;
    font-size: .9vw;
    font-weight: 500;
    color: #777;
    max-width: 0;
    opacity: 0;
    white-space: nowrap;
    line-height: 1;
    transition: max-width 1s, transform .75s, opacity .75s, color .5s;
}
.sub-heading:not(.static)::after {
    content: "\f054";
    font-weight: 900;
    align-self: center;
    opacity: 1;
    padding-left: 1vw;
    line-height: 1;
    font-family: "Font Awesome 5 Free";
    transition: transform .75s, opacity .75s;
}
.sub-heading:not(.static):hover {
    color: #333;
}
.sub-heading:not(.static):hover span {
    max-width: 200px;
    transform: translate(1vw,0);
    opacity: 1;
}
.sub-heading:not(.static):hover::after {
    border-top-color: #363636;
    border-right-color: #363636;
    transform: translate(0,0);
    opacity: 1;
}
@media(min-width: 800px){
    .sub-heading {
        font-size: 1.4vw;
    }
    .sub-heading::after {
        font-size: 1.2vw;
    }
}
@media (max-width: 800px){
    .sub-heading {
        font-size: 18px;
    }
}


.client-header {
    border: 1px solid #e7e7e7;
    position: relative;
    box-sizing: border-box;
    display: flex;
    padding: 10px;
    /*box-shadow: 2px 2px 5px rgba(0,0,0,.15);*/
    background-color: #fff;
    z-index: 4;
}
.cl-logo {
    display: block;
    width: max-content;
    overflow: hidden;
}
.cl-logo img{
    width: 100%;
    max-height: 50px;
    object-fit: cover;
}




/***
***
#### todo .training-item
***
***/
.training-item {
    display: flex;
    flex-flow: column;
    position: relative;
    overflow: hidden;
    border-radius: 10px;
    background-color: #fff;
    transition: transform .3s ease-in;
}

.training-item .additional-info {
    display: flex;
    flex-wrap: wrap;
    flex-flow: column;
    gap: 5px;
    border-top: 1px solid #e7e7e7;
    margin-top: 25px;
    padding-top: 15px;
    margin-right: 10px;
    margin-left: 10px;
}

.training-item .hidden-info {
    overflow: hidden;
    max-height: 0;
    transition: .8s max-height .5s;
}
.training-item .additional-info .unit {
    font-size: 14px;
    font-weight: 600;
    color: #333;
}
.training-item .additional-info .unit span {
    color: #888;
    font-weight: 400;
}
@media (max-width: 1200px){
    .training-item .additional-info .unit {
        font-size: 10px;
    }
}

.training-item:not(.hvr):hover {
    /*transform: scale(1.05);*/
}
.training-item:hover .hidden-info {
    max-height: 400px;
}

.training-item .image {
    position: relative;
    overflow: hidden;
    padding-bottom: 57.14%;
    height: 0;
    background-color: #e7e7e7;
}
.training-item .image img{
    position: absolute;
    top: 50%;
    right: 50%;
    transform: translate(50%,-50%);
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.training-item .name {
    position: relative;
    display: block;
    margin: 0 auto 20px;
    padding-bottom: 15px;
    width: 100%;
    max-width: 300px;
    text-align: center;
    font-size: .875vw;
    font-weight: 700;
    color: #212529;
}
.training-item .name::before {
    content: "";
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 100%;
    max-width: 70px;
    height: 1px;
    background-color: #0D6EFD;
}
@media (max-width: 1200px){
    .training-item .name {
        font-size: 12px;
    }
}
.training-item .info {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 10px;
}
.training-item .info .rating {
    display: flex;
    align-items: end;
    justify-content: center;
    flex-wrap: wrap;
    gap: 10px;
    font-size: 12px;
    line-height: 1;
    color: #363636;
    width: 100%;
}
.training-item .info .stars {
    color: #363636;
}
.training-item .info .stars i {
    min-width: 14px;
}
.training-item .info .count {
    align-self: end;
    font-size: 14px;
    line-height: 1;
    color: rgb(54 54 54);
}
.training-item .info .count::before {
    content: "";
}
.training-item .info .count {
    justify-self: center;
    border-top: 1px solid #c7c7c7;
    padding: 10px 15px 0;
    margin-top: 5px;
}


.training-item__infobox {
    display: block;
    box-sizing: border-box;
    padding: 0 20px 20px;
}


.training-item__teacher {
    display: flex;
    flex-flow: column;
    align-items: center;
    align-self: center;
    justify-self: center;
    margin-top: -60px;
    margin-bottom: 15px;
    width: max-content;
}
.training-item__teacher-img {
    width: 100px;
}
.training-item__teacher-img img{
    position: absolute;
    top: 50%;
    right: 50%;
    transform: translate(50%,-50%);
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.training-item__teacher-img div {
    position: relative;
    overflow: hidden;
    border: 2px solid #fff;
    border-radius: 50%;
    box-sizing: border-box;
    padding-bottom: 100%;
    height: 0;
    background-color: #e7e7e7;
    box-shadow: 0 3px 5px rgba(0,0,0,.10);
}
.training-item__teacher-name {
    margin-top: 10px;
    font-size: .982vw;
    font-weight: 500;
    color: #363636;
}
@media (max-width: 1200px) {
    .training-item__teacher-name {
        font-size: 14px;
    }
}
.preview-item__training {
    transition: transform .5s;
    box-shadow: 0 0 5px rgba(0,0,0,.15);
}


/*.training-item {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    border: 1px solid #fff;
    border-radius: 5px;
    box-sizing: border-box;
    padding: 15px;
    font-size: 14px;
    gap: 15px;
    background-color: #fff;
    box-shadow: 2px 2px 8px rgba(0, 0, 0, 0);
    transition: box-shadow .5s;
}
.training-item:hover {
    box-shadow: 2px 2px 8px rgba(0, 0, 0, .25);
}

.training-item .context {
    min-width: 1px;
    flex: 1;
    flex-basis: 85%;
}
.training-item .intel {
    align-self: center;
    width: max-content;
    flex-basis: max-content;
}
.training-item .detail {
    flex: 1;
    flex-basis: 85%;
}
.training-item .actions {
    align-self: center;
    width: max-content;
    flex-basis: max-content;
    position: relative;
    z-index: 2;
}

.training-item .teacher {
    color: #245195;
    font-size: 14px;
    font-weight: 500;
}
.training-item .name {
    color: #363636;
    font-size: 14px;
    font-weight: 500;
}
.training-item .price {
    font-size: 14px;
    font-weight: 700;
    color: #4F61B7;
}
.training-item .begin,
.training-item .take-place {
    font-size: 14px;
    font-weight: 700;
    color: #5870ef;
}
.training-item .begin span,
.training-item .take-place span {
    font-size: 14px;
    font-weight: 400;
    color: #666;
}*/

.training__signup:not(:disabled) {
    border: 1px solid #e7e7e7;
    border-radius: 3px;
    box-sizing: border-box;
    overflow: hidden;
    padding: 7px 12px;
    font-weight: 500;
    color: #245195;
    background-color: #fff;
    transition: border-color .3s, background-color .3s;
}
.training__signup:not(:disabled):hover {
    border: 1px solid rgba(36, 81, 149, 0.5);
    background-color: rgba(36, 81, 149, 0.08);
    cursor: default;
}

.training-item .mask-anchor {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
/***
***
#### todo end of .training-item
***
***/


.chosen-category {
    position: relative;
    display: flex;
    border: 1px solid #d7d7d7;
    border-radius: 6px;
    padding: 10px 50px 10px 15px;
    color: #363636;
    font-size: 14px;
    line-height: 1.2;
}
.chosen-category button {
    position: absolute;
    top: 0;
    right: 0;
    width: 30px;
    height: 100%;
    margin-left: 10px;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    border: none;
    color: #fff;
    z-index: 2;
    pointer-events: fill;
    transition: background-color .5s;
    font-size: 12px;
}
.chosen-category .remove{
    background-color: rgb(151, 18, 24);
    box-shadow: 0 0 0 1px rgb(151, 18, 24);
}
.chosen-category .remove:hover {
    background-color: rgba(206, 23, 31, 1);
    box-shadow: 0 0 0 1px rgba(206, 23, 31, 1);
}
.chosen-category .add {
    background-color: #517cc5;
    box-shadow: 0 0 0 1px #517cc5;
}
.chosen-category .add:hover {
    background-color: #6495EDFF;
    box-shadow: 0 0 0 1px #6495EDFF;
}
.chosen-category .done {
    background-color: rgb(25 135 84);
    box-shadow: 0 0 0 1px rgb(25 135 84);
    pointer-events: none;
}
.chosen-category i {
    transition: transform .5s;
}



.video-box {
    background-color: #303030
}
.video-wrapper {
    position: relative;
    display: block;
    height: 0;
    padding-bottom: 56.25%;
}
.video-wrapper > div {
    position: absolute;
    width: 100%;
    height: 100%;
    overflow: hidden;
}
.plyr--video {
    height: 100%;
}

.plyr__progress {
    pointer-events: none;
}
.plyr__progress__marker {
    pointer-events: fill;
}

.playing {

}


.video-lesson__name {
    padding: 10px;
    background-color: #333;
    font-size: 14px;
    font-weight: 700;
    color: #fff;
}
.video-topics {
    overflow-x: hidden;
    overflow-y: scroll;
    max-height: available;
}
.video-topics ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}
.video-topic__name {
    position: relative;
    padding: 10px;
    border-bottom: 1px solid #b1b1b1;
    background-color: #e8e8e8;
}
.video-topic__name.playing::before {
    content: "";
    position: absolute;
    border-radius: 50%;
    width: 10px;
    height: 10px;
    background-color: #ef0404;
    top: 5px;
    left: 5px;
    transition: opacity 2s;
    animation-duration: 2.2s;
    animation-name: now_playing;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    -webkit-animation-duration: 2.2s;
    -webkit-animation-name: now_playing;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-direction: alternate;
    -webkit-animation-timing-function: ease-in-out; /* Chrome, Safari, Opera */
    animation-timing-function: ease-in-out;
}
@keyframes now_playing {
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}
.video-topic__name > div {
    padding-left: 10px;
    font-size: 14px;
    color: #333;
}



.tablinks {
    display: flex;
    flex-wrap: wrap;
    box-sizing: border-box;
    border-bottom: 1px solid #b7b7b7;
    /*box-shadow: 2px 0 5px rgba(0,0,0,.15);*/
}
.client-tablink {
    position: relative;
    border-left: 1px solid #e7e7e7;
    display: block;
    text-align: center;
    font-weight: 500;
    text-transform: none;
    color: #333;
    background-color: #fff;
    transition: color .5s;
}
@media (min-width: 800px){
    .client-tablink {padding: 5px 10px;font-size: 1vw;}
}
@media (max-width: 800px){
    .client-tablink {padding: 3px 5px;font-size: 10px;}
    .client-tablink span {display: none}
}
.client-tablink i {
    color: #2d5c9e;
}
.client-tablink:hover {
    color: #2d5c9e
}
.client-tablink::before {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 2px;
    transition: background-color .5s;
}
.client-tablink.active::before {
    background-color: #2d5c9e;
}
.client-tablink:not(.active):hover::before {
    background-color: rgba(0,0,0,.2);
}




.comment-create {
    display: flex;
    flex-wrap: wrap;
    box-sizing: border-box;
    padding-top: 50px;
    overflow: hidden;
}
.comment-create > * {

}
.comment-create > div:nth-child(2){
    flex: 1;
}
.comment-create textarea {
    border: 1px solid #CED4DA;
    border-radius: 4px;
    box-sizing: border-box;
    width: 100%;
    max-width: 100%;
    padding: 5px 10px;
    font-size: 16px;
    font-weight: 400;
}
.comment-create textarea::placeholder {
    font-size: 16px;
    font-weight: 400;
    color: #6C757D;
}
.comment-create .image {
    margin-right: 20px;
    max-width: 80px;
    min-width: 80px;
}
@media (max-width: 1200px){
    .comment-create .image {
        margin-right: 10px;
        max-width: 40px;
        min-width: 40px;
    }
}
.comment-create .image > div {
    position: relative;
    display: block;
    border-radius: 50%;
    box-sizing: border-box;
    overflow: hidden;
    padding-bottom: 100%;
    height: 0;
    background-color: #fff;
}
.comment-create .image > div img {
    position: absolute;
    top: 50%;
    right: 50%;
    transform: translate(50%, -50%);
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.comment-item {
    display: flex;
    flex-wrap: wrap;
    margin-top: 30px;
}
.comment-item__context {
    display: flex;
    flex-wrap: wrap;
    flex: 1;
}
.comment-item__context .author {
    margin-right: 5px;
    align-self: baseline;
    color: #6C757D;
    font-size: 16px;
    line-height: 1;
}
.comment-item__context .published {
    align-self: baseline;
    font-size: 14px;
    color: #ADB5BD;
    line-height: 1;
}
.comment-item__context .text {
    margin: 10px 0;
    width: 100%;
    font-size: 16px;
    color: #212529;
    line-height: 1.5;
}
.comment-item__context .thumbs-up,
.comment-item__context .thumbs-down {
    margin-right: 10px;
    color: #6C757D;
}
.comment-item__context .thumbs-up {
    margin-right: 20px;
}
.comment-item__context .reply {
    border-style: none;
    font-size: 16px;
    background-color: transparent;
    line-height: 1;
    color: #6C757D;
}

.comment-item__image {
    margin-right: 20px;
    max-width: 80px;
    min-width: 80px;
}
@media (max-width: 1200px){
    .comment-item__image {
        margin-right: 10px;
        max-width: 40px;
        min-width: 40px;
    }
}
.comment-item__image > div {
    position: relative;
    display: block;
    overflow: hidden;
    box-sizing: border-box;
    padding-bottom: 100%;
    height: 0;
    background-color: #fff;
    border-radius: 50%;
}
