/* for reset */
ul, ol, li{list-style: none; margin: 0; padding: 0;}
/* end of reset */
/* for global */
.row{display: flex;}
*{font-family: "Roboto"; text-decoration: none;}
a:hover{text-decoration: none;}
::-webkit-scrollbar{width: 0.5vw;}
::-webkit-scrollbar-track{background-color: white;}
::-webkit-scrollbar-thumb{background-color: grey;border-radius: 100em;}
section {padding: 10px}
.container{max-width: 1200px; margin: 0 auto;}
@media  all and (max-width: 1200px) {
    .container{max-width: 992px; margin: 0 auto;}
}
@media  all and (max-width: 992px) {
    .container{max-width: 768px; margin: 0 auto;}
}

/* end of global */

/* for header layout*/
.header{display: flex;}
@media all and (max-width: 992px){
    .header{justify-content: space-between}
}
.main{}
.main-bottom{display: flex;margin-top: 80px;}
.footer{ margin-top: 30px; background-color: #232f42; justify-content: space-between;}
/* end header layout*/

/* for header components*/
.header .logo img{width: 80% ;height: 45px}
.socials {display: flex; padding: 20px;}
.socials i{padding-right: 10px;justify-content: end;}
.menu-header{display: flex;padding: 20px 0 10px 20px;}
.menu-header li a, .menu-header li a:visited{padding: 10px; text-transform: uppercase; font-size: 14px; font-weight: 600; color: black;}
.menu-header li a:hover{transition: 0.3s all; border-bottom: 4px solid #FC3C2D ; }
@media all and (max-width: 1200px),{
    .menu-header li:nth-child(8){
        display: none;
    }
}
@media all and (max-width: 1100px),{
    .menu-header li:nth-child(7){
        display: none;
    }
}
@media all and (max-width:992px) {
    .menu-header{
        display: none ;
    }
    .socials{justify-content: end}
}



/* end header components*/

/* for main components*/
.article-feature-main {display: flex;padding-top: 30px;}
.article-feature-main .hd{ background: linear-gradient(90deg,#f4f4f4 7%,hsla(0,0%,100%,.220348) 17%);padding: 10px;border-radius: 10px;}
.article-feature-main .hd .highlight {padding: 3px 5px; display: inline-block;line-height: 1;border: none;background: #FC3C2D;}
.article-feature-main .hd .highlight a{text-transform: uppercase;font-weight: 800; color: white ; font-size: 10px;}
.article-feature-main .title {margin-top: 10px;}
.article-feature-main .title a{font-size: 3.022rem;line-height: 1.2; font-weight: 700; color: black;}
.article-feature-main .desc{margin-top: 20px;}
.article-feature-main .desc a{color: black;}
.article-feature-main .date {margin-top: 10px;}
.article-feature-main .date span{font-size: 12px; color: black;}
.article-feature-main .img{position: relative; overflow: hidden;width: 100%;height: 400px;}
.article-feature-main .img img{position: absolute;  left: 50%;top: 50%;transform: translate(-50%,-50%);width: 100%;height: 100%;border-radius: 10px;}
@media all and (max-width: 1500px) {
    .article-feature-main .title {
        order: 1;
    }
    .article-feature-main .img {
        order: 2;
    }
}
@media all and (max-width: 1200px) {
    .article-feature-main .desc{display: none;}
    .article-feature-main .img img{width: 100%}
    .article-feature-main .title a{font-size: 36px;}
}
@media  all and (max-width: 992px) {
    .article-feature-main .img{height: 300px;}
    .article-feature-main .img img{width: 100%; height: 100%}
}
@media  all and (max-width: 768px) {
    .article-feature-main{display: block;}
    .article-feature-main .img{height: 500px;}
    .article-feature-main .img img{border-radius: 0px;}
}
@media  all and (max-width: 600px) {
    .article-feature-main .img{width: 100%;height: 350px;}
}

.article-feature-sub{display: flex;margin-top: 5px;}
.feature-sub .img{}
.feature-sub .img img{height: 200px; width: 100%;object-fit: cover;border-radius: 10px;}
.feature-sub .title{margin-top: 10px}
.feature-sub .title a, .feature-sub .title a:visited{font-weight: 500; color: black;}
.feature-sub .date{margin-top: 10px;}
.feature-sub .date span{font-size: 12px; color: rgb(9, 8, 8);}
@media all and (max-width: 768px){
    .article-feature-sub{display: block;}
    .feature-sub .img img{border-radius: 0px;}
}

/*for slider components*/
.publishedArticles {border: 1px solid #d7d7d7;}
.published-article {display: flex; padding: 20px 0 20px 20px; background-color: white;}
.published-article .hd{display: inline-block;line-height: 1; border: none;padding: 5px; background: #FC3C2D;}
.published-article .hd a{text-transform: uppercase;font-weight: 600; ; font-size: 10px; color: white}
.published-article .title{margin-left: 20px;}
.published-article .title a{font-weight: 500;}
/*end slider components*/
.mySwiper{height: auto;}
/* for .mySwiper .swiper-slide {height: auto}*/
.swiper-button-next, .swiper-button-prev{color: black !important;}
.swiper-button-prev, .swiper-container-rtl .swiper-button-next {
    right: 60px;
    top: 20px;
    left: unset !important;
    transform: rotate(90deg) translate(50%,-50%);
}
.swiper-button-next, .swiper-container-rtl .swiper-button-prev {
    right: 20px;
    top: 50px;
    transform: rotate(90deg);
    /* width: 10px; */
    font-size: 14px;
    width: max-content;
    height: max-content;
}
.swiper-button-next:after, .swiper-button-prev:after {
    font-family: swiper-icons;
    font-size: var(--swiper-navigation-size);
    text-transform: none!important;
    letter-spacing: 0;
    text-transform: none;
    font-variant: initial;
    line-height: 1;
    font-size: 16px;
    font-weight: bold;
}
/* end .mySwiper .swiper-slide {height: auto}*/

.article-section-hd a{text-transform: uppercase;}
.article-section .img{position: relative; overflow: hidden;width: 100%;height: 300px;}
.article-section .img img{position: absolute;left: 50%;top: 50%;transform: translate(-50%,-50%);width: 100%;height: auto}
.article-section .title{padding-top: 20px; }
.article-section .title a{font-size: 28px; font-weight: 700;}
.article-section .desc a{ max-width: 36em;margin-top: 0.6em;margin-bottom: 0.6em;color: rgba(0, 0, 0, 0.6) ; font-size: 1rem;line-height: 1.6;}
.article-section .date{font-size: 12px; color: #808080;}
@media all and (max-width: 992px) {
}

.article-sub-section .img{position: relative; overflow: hidden;width: 100%;height: 120px;}
.article-sub-section .img img{position: absolute;left: 50%;top: 50%;transform: translate(-50%,-50%);width: 100%;height: auto}
.article-sub-section .title {padding-top: 10px;}
.article-sub-section .title a{font-weight: 600; }
.article-sub-section .date{padding-left: 20px;}
.article-sub-section .sub-section-title .title{padding-left: 20px; position: relative;}
.article-sub-section .sub-section-title .title a::before{position: absolute;content: '';background: #FC3C2D;display: inline-block;width: 5px;height: 5px;left: 5px;top: 17px;}
@media all and (max-width: 650px) {
    .article-sub-section .img{height: 200px;}
}
.article-suggest {margin-top: 40px;}
.article-suggest .hd a{text-transform: uppercase; font-size: 1.1rem;line-height: 1.2;font-weight: 300;letter-spacing: 0.08em;}
.article-suggest .bd{position: relative;}
.article-suggest .bd .img{position: relative; overflow: hidden;width: 100%;height: 210px;}
.article-suggest .bd .img img{position: absolute;left: 50%;top: 50%;transform: translate(-50%,-50%);width: 100%;height: 100%}
.article-suggest .bd .title a{position: absolute; margin-left: 20px; top: 20px;display: inline-block;text-transform: uppercase; padding: 5px 8px;font-size: 10px;font-weight: 500;  color: #fff!important;line-height: 1;background: #FC3C2D;border: none;}
@media all and (max-width: 650px) {
    .article-suggest .bd .img{position: relative; overflow: hidden; height: 150px; width: 100%}
    .article-suggest .bd .img img{position: absolute; object-fit: cover; left: 50%;top: 50%;transform: translate(-50%,-50%);width: 100%;height: 100%}
}

.article-suggest .ft{position: relative;}
.article-suggest .ft .desc a{font-weight: 700; font-size: 16px; color: #d7d7d7;text-wrap: normal;}
.article-suggest .ft a{position: absolute; bottom: 20px;padding: 20px;}
.article-suggest .ft span{position: absolute; bottom: 0px;padding: 20px;}

.article-suggest .sub{display: flex;margin-top: 10px;}
.article-suggest .sub .img{position: relative; overflow: hidden;width: 100%;height: 70px;}
.article-suggest .sub .img img{position: absolute;left: 50%;top: 50%;transform: translate(-50%,-50%);width: 100%;height: 100%;}
.article-suggest .sub .title {padding-left: 10px;}
.article-suggest .sub .title a{font-weight: 700; font-size: 16px;}
@media all and (max-width: 650px){
    .article-suggest .sub .img{height: 100px;}
}

.article-suggest .articles{}
.article-suggest .articles li{;padding-left: 20px;position: relative;}
.article-suggest .articles .title {font-weight: 700;padding-top: 10px;}
.article-suggest .articles .title a::before{position: absolute;content: '';background: #FC3C2D;display: inline-block;width: 5px;height: 5px;left: 5px;top: 25px;}

.article-latest {position: relative;padding-left: 20px;}
.article-latest .hd{ text-transform: uppercase;padding-bottom: 20px;}
.article-latest .img{position: relative; overflow: hidden;width: 100%;height: 200px;}
.article-latest .img img{position: absolute;left: 50%;top: 50%;transform: translate(-50%,-50%);width: 100%;height: 100%}
.article-latest .bd {display: flex;position: absolute; bottom: 10px;align-items: center; }
.article-latest .bd .left { padding-left: 10px; font-size: 26px;color: white;}
.article-latest .bd .left .fa{font-weight: 900;}
.article-latest .bd .right {padding: 10px;}
.article-latest .bd .right .title a{color: #d7d7d7;font-weight: 600}
.article-latest .bd .right .desc a{text-transform: uppercase;padding: 5px; font-size: 10px;  background: #FC3C2D;font-weight: 500;}
@media all and (max-width: 992px) {
    .article-latest{margin-top: 30px;}
    .article-latest .title {font-size: 24px;}
    .article-latest .img {position: relative; overflow: hidden;width: 100%;height: 250px;}
    .article-latest .img img{position: absolute;left: 50%;top: 50%;transform: translate(-50%,-50%);width: 100%;height: auto}
}
.sub-title { margin: 20px 0 0 20px; overflow-y: scroll;box-sizing: content-box; height: 700px;}
.sub-title li{display:flex; width: 100%;overflow: hidden;padding: 5px 0;list-style: none;}
.sub-title .img{position: relative; overflow: hidden;width: 100%;height: 80px;}
.sub-title .img img{position: absolute;left: 50%;top: 50%;transform: translate(-50%,-50%);width: 100%;height: auto;}
.sub-title .title{padding: 0 0 5px 5px; }
.sub-title .title a{display: block;overflow: hidden ;height: 60px;font-size: 14px;color: #363636; }
.sub-title .date{padding-left: 5px;}
@media  all and (max-width: 992px) {
    .sub-title{height: 300px;}
    .sub-title .img img{width: 100%}
}

.article-slide{position: relative;overflow: hidden;}
.photo-btn-slide-prev{position: absolute;
    left: 50px;
    top: 80px;
    color: #000;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    background: #fff;
    z-index: 1;}
.photo-btn-slide-next{position: absolute;
    left: 100px;
    top: 80px;
    color: #000;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    background: #fff;
    z-index: 1;}
@media all and (max-width: 992px) {

}

.article-slides {display: flex; margin-top: 20px;}
.article-slide .img {position: relative; overflow: hidden; width: 100%; height: 200px;}
.article-slide .img img{position: absolute;object-fit: cover;left: 50%;top: 50%;transform: translate(-50%,-50%);width: 100%;height: 100%;}
.article-slide .title{position: relative;}
.article-slide .title a{position: absolute;text-transform: uppercase; padding: 10px ;top: 10px; font-size: 18px;  font-weight: 400; color: #F0F0F0;}
@media all and (max-width: 640px) {
    .article-slide .title{position: relative;z-index: 1;}
    .article-slide .title a{position: absolute;text-transform: uppercase;font-weight: 500;}
    .article-slide .img{position: relative; overflow: hidden; width: 100%; height: 120px;}
    .article-slide .img img{position: absolute;object-fit: cover;left: 50%;top: 50%;transform: translate(-50%,-50%);width: 100%;height: 100%
    }
}


.article-slide-1 {display: flex; overflow: hidden}
.article-slide-1 .article .img{ overflow: hidden; object-fit: cover;height: 120px;}
.article-slide-1 .article .img img{width: 100%;}
.article-slide-1 .article .title {text-align: center; padding: 10px 20px; font-weight: 700;}
.article-slide-1 .article .date{text-align: center}
@media all and (max-width: 640px) {

}


.date{padding-top: 4px; font-size: 12px; color: #adadad;}

.post-lists{display: flex;margin-top: 50px;gap: 20px;}
.post-list {padding-left: 20px; background-color: #232f42 ;}
.post-list .title {padding: 20px;}
.post-list .title a{ text-transform: uppercase; font-size: 27px; font-weight: 700; color: white}
.post-list .desc {padding: 20px; border-bottom: 1px solid #353535;font-size: 14px; font-weight: 700; color: white; height: 70px;}
.post-list .info , .post-list .info :visited{padding: 20px; font-size: 12px; color: white;height: 80px;}
@media  all and (max-width: 768px) {
    .post-lists{display: block;}
    .post-list{margin-top: 20px}
}


.footer .logo {position: relative; overflow: hidden;width: 50%;height: 50px;}
.footer .logo img {position: absolute;left: 50%;top: 50%;transform: translate(-50%,-50%);width: 100%;height: auto}
.footer .copyright{padding-bottom: 30px; font-size: 12px;padding-top: 10px;color: white;}
.footer .wrapper{display: flex;padding: 30px;}
.footer .advertise .title{padding-right: 20px ; font-size:14px; color: white;}
.footer .contact .title{justify-content: end; font-size:14px; color: white;}
.footer .social i{transition: 0.5s; font-size: 16px; color: grey;}
.footer .social i:hover{transition: 0.5s; color: black}
/* end main components*/





