@font-face {
    font-family: 'Maven Pro';
    src: url('MavenPro-Bold.ttf');
    font-weight: 900;
}

@font-face {
    font-family: 'Maven Pro';
    src: url('MavenPro-Bold.ttf');
    font-weight: 600;
}